@import "vars";


@media only screen and (max-width: 1600px) {
	.line {
		left: 100px !important;
	}
	.tutt {
		left: 78px !important;
	}
	.section > .under1, .section > .under2, .section > .under3, .section > .under4, .section > .under5, .section > .under6 {
		left: -144px !important;
	}
	.section > .under4 {
		left: -239px !important;
	}
	.section > .under4 {
		left: -239px !important;
	}
	.tutu {
		left: 78px;
	}
}

/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
@include media-breakpoint-down(xl) {
	
}

//Large: ≥992px
@include media-breakpoint-down(lg) {

}

//Medium: ≥768px
@include media-breakpoint-down(md) {
	
}

//Small: ≥576px
@include media-breakpoint-down(sm) {

}

//Extra small: >0
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

//Extra small: <576px
@include media-breakpoint-up(xs) {

}

//Small: ≤576px
@include media-breakpoint-up(sm) {

}

//Medium: ≤768px
@include media-breakpoint-up(md) {
	
}

//Large: ≤992px
@include media-breakpoint-up(lg) {
	
}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {
	.tutti-hot-card-below-left {
    width: auto;
	}
}

