@import "vars";


/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
@include media-breakpoint-down(xl) {
	.tutti-hot-card {
		height: 430px;
	}
}

@media only screen and (max-width: 1600px) {
	.tutti .section>.under4 {
		left: 0;
	}
	
	.tutti .line {
		left: 100px;
	}
	.tutti .tutu { 
		left: 78px;
	}
	.tutti .menu {
		padding: 15px 25px 0;	
	}
	.tutti .menu .menu-left .dropdown-menu .down, .tutti .menu .menu-right .dropdown-menu .down {
		margin: 0 0 2px 5px;
	}
	.tutti .menu .menu-left .dropdown-menu, .tutti .menu .menu-right .dropdown-menu {
    margin-right: 50px;
	}
	.tutti .menu .menu-mid .logo svg {
		height: 100px;
	}
	.tutti .menu .menu-mid .logo {
		margin-right: 0px;
	}
	.tutti .menu {
		padding: 25px 50px 0;
	}
	.tutti .menu-scroller {
    padding: 0px 50px 0 !important;
    background: #fff!important;
    border-bottom: 1px solid rgba(34,34,34,.15);
	}
	.tutti .menu .menu-mid li:last-child {
    margin-right: 0px;
	}
	.tutti .menu .menu-mid .logo-go {
		padding: 10px 50px;
	}
	.tutti .menu .menu-mid .logo {
		padding: 10px 50px;
	}
	.tutti .menu-right #login {
    margin-right: 25px;
	}
}

@media only screen and (max-width: 1366px) {
	.tutti-top .middlecontent {
    text-align: center;
    margin-top: 250px;
	}
	.tutti .tutu {
		left: 28px;
	}
	.tutti .line {
		left: 50px;
	}
	.tutti .menu .menu-mid {
		margin-right: 50px;
	}
	.tutti .menu a {
		font-size: 14px;
	}
	.tutti .menu .menu-mid li {
		margin-right: 15px;
	}
	.tutti .menu {
		padding: 15px 25px 0;	
	}
	.tutti .menu .menu-left .dropdown-menu .down, .tutti .menu .menu-right .dropdown-menu .down {
		margin: 0 0 2px 5px;
	}
	.tutti .menu .menu-left .dropdown-menu, .tutti .menu .menu-right .dropdown-menu {
    margin-right: 20px;
	}
	.tutti .menu .menu-mid .logo svg {
		height: 100px;
	}
	.tutti .menu .menu-mid .logo {
		margin-right: 0px;
	}
	.tutti .menu-scroller {
    padding: 0px 25px 0 !important;
    background: #fff!important;
    border-bottom: 1px solid rgba(34,34,34,.15);
	}
	.tutti .menu .menu-mid li:last-child {
    margin-right: 0px;
	}
	.tutti .menu .menu-mid .logo-go {
    padding: 10px;
	}
	.tutti .menu .menu-mid .logo {
    padding: 10px;
	}
	.tutti .menu-right #login {
    margin-right: 25px;
	}
	.tutti-bn1-lefts p {
    font-size: 60px;
    line-height: 66px;
	}
	.tutti-bn1-lefts p:nth-child(2) {
    font-size: 50px;
    line-height: 54px;
	}
	.tutti-bn1-lefts p:nth-child(3) {
    font-size: 40px;
    line-height: 42px;
	}
	.tutti-bn1, .tutti-bn1-bg, .tutti-bn1-rights {
		height: 400px;
	}
	.tutti-bn1 .sale25 {
		font-size: 94px;
	}
	.tutti-bn1 .sale25-pers {
		font-size: 45px;
	}
	.tutti-bn1 .sale25-pers div:last-child {
    padding-top: 5px;
    font-size: 24px;
	}	
	.tutti-bn1 .sale25-sale {
    font-size: 70px;
    line-height: 50px;
    padding-top: 0px;
	}
	.tutti h2 {
    font-size: 24px;
	}
	.tutti-bn1-rights-text p {
    color: #fff;
		font-size: 14px;
	}
	.tutti-bn1 h2 {
    margin-bottom: 10px;
	}
	.tutti-bn1-rights-text p {
		margin-bottom: 20px;
	}
	.tutti-bn1-rights-text {
		margin-top: 10px;
	}
	.tutti-bn2, .tutti-bn2-rights {
		height: 320px;
	}
	.tutti-bn2-rights-text p {
		font-size: 14px;
	}
	.tutti-bn2-rights-text {
    padding-left: 150px;
	}
	.tutti-bn2-lefts {
    padding-right: 150px;
	}
	.tutti-bn2-bg img {
    width: 350px;
		height: 350px;
	}
	.tutti-bn2-bg {
		transform: translateY(-15px);
	}
}

@media only screen and (max-width: 1280px) {
	.middlecontent {
    text-align: center;
    margin-top: 280px;
	}
}

@media only screen and (max-width: 1200px) {
	.tutti .menu .menu-left .dropdown-menu .drop-p, .tutti .menu .menu-right .dropdown-menu .drop-p {
		min-width: auto;
	}
	.tutti-bn2-bg img {
    width: 250px;
    height: 250px;
	}
}

@media only screen and (max-width: 800px) {
	.large {
		display: none;
	}
	.small {
		display: inline-block;
	}
	.tutti-bn1 .sale25 {
    margin-right: 30px;
		margin-left: 30px;
	}
	.tutti-testimonials-card {
		padding: 30px 30px;
	}
	.tutti-bn2-rights-text {
    padding-left: 50px;
	}
	.tutti-bn2-lefts {
    padding-right: 50px;
	}
	.tutti-bn2-bg {
    transform: translateY(0px);
	}
	.tutti-guide-card-below {
		padding: 30px 30px;
	}
	.tutti-guide-card-above {
		width: 400px;
	}
	.tutti-questions-card {
    min-height: auto;
		padding: 50px 50px;
	}
	.box2, .box3 {
		display: none;
	}
	.tutti-breadcrumbs-row {
		font-size: 24px;
	}
	.basket .tutti-testimonials-card {
		margin-bottom: 80px;
	}
	.simpages-basket .box {
		width: 75px;
    height: 80px;
	}
	.simpages-basket .start-ci .dot {
		width: 20px;
    height: 20px;
	}
	.simpages-basket .text1 {
		margin-top: 40px;
		margin-left: -25px;
	}
	.simpages-basket .box4 {
		width: 75px;
		height: 80px;
		margin-left: -30px;
    margin-top: -55px;
	}
	.simpages-basket .box4 .dot {
		width: 20px;
    height: 20px;
	}
	.simpages-basket .text2 {
		margin-right: -19px; 
	}
	.simpages-basket .text3 {
		margin-right: -25px;
	}
	.basket .simpages .summary {
		width: 75%;
	}
	.simpages {
    padding: 0 0 75px 0;
    margin-top: 75px;
	}
	.simpages-td img:last-child,
	.simpages-img img:last-child
	{
		margin-bottom: 30px;
	}
	.tutti-filters-form-data {
		width: 100%;
		border-radius: 10px;
		margin-bottom: 15px;
	}
	.tutti-filters-form input {
		width: 95%;
	}
	.tutti-filters-form-category {
		border: 1px solid #d4d4d4;
		width: 100%;
    margin-left: 0;
		margin-right: 0;
		border-radius: 10px;
		margin-bottom: 15px;
	}
	.tutti-filters-form-price {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    border-radius: 10px;
	}
	.tutti-filters-form .tutti-btn {
    width: 100%;
	}
}

@media only screen and (height: 1024px) {
	.tutti-top .middlecontent {
			text-align: center;
			margin-top: 400px;
	}
}

@media only screen and (height: 1366px) {
	.tutti-top .middlecontent {
		text-align: center;
		margin-top: 530px;
	}
}
//Large: ≥992px
@include media-breakpoint-down(lg) {
	.tutti .line {
		left: 100px;
	}
	.tutti .menu .menu-mid {
		margin-right: 35px;
	}
	.tutti .menu a {
		font-size: 14px;
	}
	.tutti .menu .menu-mid li {
		margin-right: 15px;
	}
	.tutti .menu {
		padding: 15px 25px 0;	
	}
	.tutti .menu .menu-left .dropdown-menu .flag-eng, .tutti .menu .menu-right .dropdown-menu .flag-eng {
    display: none;
	}
	.tutti .menu .menu-left .dropdown-menu .down, .tutti .menu .menu-right .dropdown-menu .down {
		margin: 0 0 2px 5px;
	}
	.tutti .menu .menu-left .dropdown-menu, .tutti .menu .menu-right .dropdown-menu {
    margin-right: 20px;
	}
	.tutti .menu .menu-mid .logo svg {
		height: 100px;
	}
	.tutti .menu .menu-mid .logo {
		margin-right: 0px;
	}
	.tutti .menu-scroller {
    padding: 0px 25px 0 !important;
    background: #fff!important;
    border-bottom: 1px solid rgba(34,34,34,.15);
	}
	.tutti .menu .menu-mid li:last-child {
    margin-right: 0px;
	}
	.tutti .menu .menu-mid .logo-go {
    padding: 10px;
	}
	.tutti .menu .menu-mid .logo {
    padding: 10px;
	}
	.tutti .menu-right #login {
    margin-right: 25px;
	}
	.tutti .line {
    display: none;
	}
	.tutti .section>.under1, .tutti .section>.under2, .tutti .section>.under3, .tutti .section>.under4, .tutti .section>.under5, .tutti .section>.under6 {
		display: none;
	}
	.tutti .tutu {
		display: none;
	}
	.tutti-bn1-lefts p {
    font-size: 60px;
    line-height: 66px;
	}
	.tutti-bn1-lefts p:nth-child(2) {
    font-size: 50px;
    line-height: 54px;
	}
	.tutti-bn1-lefts p:nth-child(3) {
    font-size: 40px;
    line-height: 42px;
	}
	.tutti-bn1, .tutti-bn1-bg, .tutti-bn1-rights {
		height: 400px;
	}
	.tutti-bn1 .sale25 {
		font-size: 94px;
	}
	.tutti-bn1 .sale25-pers {
		font-size: 45px;
	}
	.tutti-bn1 .sale25-pers div:last-child {
    padding-top: 5px;
    font-size: 24px;
	}	
	.tutti-bn1 .sale25-sale {
    font-size: 70px;
    line-height: 50px;
    padding-top: 0px;
	}
	.tutti h2 {
    font-size: 24px;
	}
	.tutti-bn1-rights-text p {
    color: #fff;
		font-size: 14px;
	}
	.tutti-bn1 h2 {
    margin-bottom: 10px;
	}
	.tutti-bn1-rights-text p {
		margin-bottom: 20px;
	}
	.tutti-bn1-rights-text {
		margin-top: 10px;
	}
	.tutti-bn2, .tutti-bn2-rights {
		height: 320px;
	}
	.tutti-bn2-rights-text p {
		font-size: 14px;
	}
	.tutti-bn2-bg {
		transform: translateY(0px);
	}
}

@media only screen and (max-width: 600px) {
	.small #menuToggle {
		top: 30px;
		left: 30px;
	}
	.small svg {
    height: 50px;
    margin-top: -15px;
		margin-right: 50px;
	}
	.tutti h1 {
    font-family: PNSemiBold;
		font-size: 48px;
	}
	.tutti h1 {
		font-size: 48px;
		line-height: 1.2;
	}
	.search-bar {
    flex-direction: column;
	}
	.tutti-top .middlecontent .category {
    margin-bottom: 20px;
	}
	.tutti-top .middlecontent .dropdown-menu, .tutti-top .middlecontent .search {
		width: 99%;
	}
	.tutti-top .middlecontent {
    text-align: center;
    margin-top: 200px;
	}
	.tutti-top .middlecontent-search {
		margin-top: 50px;
	}
	.tutti-top .search-example {
		padding: 0;
	}
	.tutti-hot-card {
    height: auto;
	}
	.tutti-hot-card-below {
    display: flex;
    flex-direction: column;
	}
	.tutti-hot-card-below-left {
    width: 100%;
	}
	.tutti-bn1-bg {
		display: none;
	}
	.tutti-bn1-rights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	}
	.tutti-bn1-rights .tutti-hot-btn {
    text-align: center;
	}
	.tutti-bn1 .sale25 {
		margin-bottom: 20px;
	}
	.tutti-bn1-rights-text p {
    margin-bottom: 20px;
    text-align: center;
	}
	.tutti-bn1 h2 {
    text-align: center;
	}
	.tutti-bn2-rights-text h2 {
		text-align: center;
	}
	.tutti-bn2-rights .tutti-hot-btn {
		text-align: center;
	}
	.tutti-bn2-rights-text {
    padding: 30px;
	}
	.tutti-bn2-rights-text p {
    font-size: 14px;
    text-align: center;
	}
	.tutti-bn2-lefts {
		display: none;
	}
	.tutti-guide-card {
		flex-direction: column!important;
	}
	.tutti-guide-card-above {
    width: 100%;
	}
	.tutti-guide-card-below p {
		max-height: 60px;
	}
	.tutti-guide-card-below h6 {
		margin-bottom: 5px;
	}
	.tutti-guide-card-below {
    padding: 30px;
    width: 100%;
	}
	.tutti-questions-card p {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
	}
	.tutti-questions-btn-a {
		width: 100%;
	}
	.tutti-questions-card {
		background-color: none;
		box-shadow: none;
	}
	footer .tutti-footer .frline {
    padding-top: 50px;
	}
	.tutti-top .middlecontent .dropdown {
		width: 100%;
	}
	footer .tutti-footer-socials {
    float: none;
    padding-right: 0;
		text-align: center;
		margin-bottom: 20px;
	}
	.tutti-about, .tutti-hot, .tutti-simple {
    padding: 50px 0 50px;
	}
	.tutti-about-img {
    min-height: 0;
	}
	.tutti-bn1, .tutti-bn1-bg, .tutti-bn1-rights {
    height: 450px;
	}
	footer .tutti-footer .thrcline {
    text-align: center;
	}
	footer .tutti-footer-send .search {
		width: 99%;
	}
	.tutti-guide-card-btn-a {
		width: 100%;
	}
	.tutti-top .middlecontent .dropdown {
		background: #fff;
	}
	.tutti-bn2 {
		margin: 100px 0;
	}
	.tutti-hot-card-above-sale {
		top: -15%;
    left: -10%;
	}
	footer .fifline {
    height: 150px;
	}
	footer .tutti-footer-socials a {
    margin-right: 25px;
	}
	.basket .simpages .summary {
		width: 90%;
	}
	.line-cost {
		flex-direction: column;
	}
	.basket .simpages .summary .line-cost {
		margin-bottom: 40px;
	}
	.basket .simpages .summary .line-cost:nth-child(3) {
		margin-bottom: 20px;
	}
	.basket .simpages .summary .left {
		margin-bottom: 15px;
	}
	.basket .simpages .summary .line-cost {
		align-items: flex-start;
	}
	.pb-4 {
		padding-bottom: 2.5rem!important;
	}
	.basket .tutti-account .un-account {
		bottom: 38px;
	}
	.basket .simpages .summary .right .select-wrapper {
		margin-left: 50px;
	}
	.basket .simpages .summary .right .select-wrapper,
	.basket .simpages .summary .right .select-wrapper select
	{
		width: 150px;
	}
	.basket .but-send .tutti-hot-btn-a {
		width: 100%;
	}
	.tutti-simple-card {
		height: auto;
	}
	.tutti-simple-card-above,
	.tutti-simple-card-above img
	{
		height: 280px;
	}
	.simpages .pagination-guide {
		display: flex;
    flex-direction: column;
	}
	.simpages .pagination-guide a {
		width: 100%;
	}
	.simpages ul li:first-child a {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.simpages ul li:last-child a {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.simpages ul {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	}
	.simpages ul li {
		border-right: 0;
		border-bottom: 1px solid rgba(212,208,208,.5);
	}
	.simpages ul li:last-child {
		border-bottom: 0;
	}
	.simpages-book {
		padding: 0;
		box-shadow: none;
		background-color: transparent;
		flex-direction: column!important;
		align-items: center;
	}
	.simpages-details-svg {
    margin-right: 25px;
	}
	.simpages-details-svg:last-child {
    margin-right: 0;
	}
	.simpages-book-btn a {
		width: 100%;
	}
	.simpages-book .trma .price-be {
		text-align: center;
	}
	.simpages-book .trma .price-af {
		margin-bottom: 25px;
	}
	.simpages-details {
		margin-bottom: 25px;
    align-items: flex-start!important;
		flex-direction: column!important;
	}
	.simpages-details-svg {
		margin-right: 0;
    margin-bottom: 15px;
	}
	.tutti .tittle-h2 {
		line-height: 1.2;
		text-align: center;
	}
	.simpages-book .trma {
		width: 100%;
		text-align: center;
	}
	.tutti-testimonials-card .wrap {
		flex-direction: column!important;
		align-items: center!important;
		margin-top: 30px;
	}
	.basket .tutti-testimonials-card img {
		width: 100%;
	}
	.basket .tutti-testimonials-card .wrap div {
		margin-left: 0;
	}
	.transfers .destination form {
		margin-top: 70px;
    width: 100%;
	}
	.transfers .destination form input {
		width: 100%;
	}
	.row_fromto {
		flex-direction: column;
	}
	.row_fromto .block_fromto {
		width: 100%;
	}
	.row_fromto .fromto_s3 {
		width: 100%;
		border: none;
	}
	.row_fromto .fromto_s3 .wrap_s3 .cost {
		line-height: 1;
	}
	.row_fromto .fromto_s3 .wrap_s3 {
		margin: 0;
		margin-left: auto;
	}
	.row_fromto .fromto_s1 {
		border-radius: 10px 10px 0 0;
	}
	.row_fromto .fromto_s2 {
		border-radius: 0 0 10px 10px;
		margin-left: 0;
		border-top: 0;
	}
	.tutti-filters-form-submit-btn a {
		width: 100%;
	}
	.pageerr h1 {
		font-size: 140px!important;
    line-height: 1;
	}
	.errcontent {
    text-align: center;
    margin-top: 150px!important;
	}
}

@media only screen and (max-width: 400px) {
	.small svg {
    margin-right: 50px;
	}
	.tutti-questions-card {
    padding: 25px 25px;
	}
	.tutti-testimonials-card-svg svg {
		width: 20px;
		height: 10px;
	}
	.tutti-testimonials-card p {
		padding: 0 10px;
	}
	footer .tutti-footer-send .search-button {
		padding: 0px 30px;
	}
	.basket .simpages .summary .right .select-wrapper,
	.basket .simpages .summary .right .select-wrapper select
	{
		width: 125px;
	}
	.transfers .tutti-hot-btn {
		margin: 50px 0 100px 0;
	}
	.fromto_s1,
	.fromto_s2
	{
		display: flex;
    flex-direction: column;
	}
	.row_fromto .block_fromto .right {
		margin-top: 20px;
	}
	.row_fromto .block_fromto svg {
		margin: 0;
	}
	.but_trip a.tutti-hot-btn-a {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {
	footer .tutti-footer-send .search-button {
		padding: 0px 25px;
    transform: translateX(-20%);
	}
}

@media only screen and (min-width: 2000px) {
	.tutti-top .middlecontent {
    text-align: center;
    margin-top: 600px;
	}
}

//Medium: ≥768px
@include media-breakpoint-down(md) {
	
}

//Small: ≥576px
@include media-breakpoint-down(sm) {

}

//Extra small: >0
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

//Extra small: <576px
@include media-breakpoint-up(xs) {

}

//Small: ≤576px
@include media-breakpoint-up(sm) {

}

//Medium: ≤768px
@include media-breakpoint-up(md) {

}

//Large: ≤992px
@include media-breakpoint-up(lg) {
	
}

