@import "vars";
@import "fonts";
@import "libs";


::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: $white;
}

html, body {
	height: 100%;
}
a {
	text-decoration: none!important;
	color: #273238;
}

body {
	font-size: 16px;
	min-width: 320px;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea {
			border: #666 1px solid;
			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
	}
}

$border-color: #E6003E;
$background-color: #FBFBF8;
$border-radius-big: 6px;
$font-size-header: 20px;
$car-color: $border-color;
$spin-deg: 36deg;

strong, b {
	font-weight: inherit; 
}

.tutti {
	a {
		transition: all 0.2s ease-in-out;
		&:hover {
			transition: all 0.2s ease-in-out;
		}
	}
	.tutti-testimonials-card .carousel-indicators li:hover {
		transition: all 0.2s ease-in-out;
		&:hover {
			transition: all 0.2s ease-in-out;
		}
	}
	.tutti-guide .guidecar .carousel-indicators li:hover {
		transition: all 0.2s ease-in-out;
		&:hover {
			transition: all 0.2s ease-in-out;
		}
	}
	h1 {
		font-family: "PNSemiBold";
		font-size: 96px;
		line-height: 70px;
		margin: 0;
	}
	h2 {
		font-family: "PNBold";
		font-size: 36px;
		color: #222222;
		line-height: 1;
	}
	h5 {
		font-family: "PNSemiBold";
    font-size: 18px;
    color: #222;
		line-height: 1.4;
		margin-bottom: 10px;
		max-height: 50px;
    overflow: hidden;
	}
	p {
		font-family: "PNRegular";
		font-size: 18px;
		color: #4c4c4c;
		line-height: 1.4;
	}
	.tittle-h2 {
		font-family: "PNBold";
		font-size: 36px;
		color: #222222;
		line-height: 1;
	}
	&-about, &-hot, &-simple {
		padding: 100px 0 50px;
		.tittle-h2 {
			padding-bottom: 60px;
		}
	}

	/* Меню */
	.mn-white {
		background-color: #fff !important;
	}
	.menu-black {
		color: #222222 !important;
	}
	.menu-scroller {
		padding: 5px 50px 0 !important;
		background: rgba(255, 255, 255, 1) !important;
		border-bottom: 1px solid rgba(34, 34, 34, .15);
		.logo-scroller {
			transform: translateY(10px);
		}
	}
	
	.menu {
		top: 0;
    left: 0;
		position: fixed;
		z-index: 115;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background: rgba(0,0,0,0);
		padding: 25px 50px 0;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out; 
		transition: all 0.5s ease-in-out; 
		font-family: "PNSemibold";
		ul, li, a {
			color: $white;
			padding: 0;
			margin: 0;
		}
		a {
			font-size: 16px;
			font-family: "PNSemiBold";
		}
		li {
			display: inline-block;
			transition: all .2s ease-in-out;
		}
		.menu-left, .menu-right {
			display: flex;
			align-items: center;
			width: auto;
			.dropdown-menu {
				display: inline-block;
				position: relative;
				min-width: 0;
				background: none;
				border: none;
				margin: 0;
				padding: 0;
				transition: all 1s ease;
				margin-right: 50px;
			img {
				box-shadow: 0 0 1px 0 rgba(0,0,0,.5);
			}
			  li {
					display: block;
				}
				.flag-eng {
					margin-right: 10px;
					margin-bottom: 3px;
				}
	  		.down {
				margin: 0 0 2px 15px;
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out; 
				transition: all 0.4s ease-in-out; 
			}
			.down-active path  {
				fill: #222222;
			}
			.white-bg {
				padding: 15px;
				background: $white;
				border-radius: 5px ;
				-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
				box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
				a {
					font-family: "PNRegular";
				} 	
			}
			.drop-p {
				min-width: 140px;
				padding: 15px;
				color: #222222;
			}
			.langcur {
					li {
						a {
							font-family: "PNRegular";	
							color: #222222 !important;
						}
					}
			}
			.drop-v {
				padding-top: 15px;
			}
			.dropdown {
				display: none;
				position: absolute;
				left: -15px;
				width: auto;
				font-size: 14px;
				li {
					transition: all .2s ease-in-out;
					margin: 5px 0;
				}
	  		li a:hover {
					color: $green !important;
					transition: all .2s ease-in-out;
				}
			}
			}
			.dropdown-menu:lest-child {
				margin-right: 0;
			}
			.currency {
				.dropdown-menu {
					margin-right: 0;
				}
				.dropdown{
					left: 0px;
					margin-right: 0;
				}
				.drop-dist {
					left: -15px;
				}
			}
		}

		.arrow-active {
			-webkit-transform: rotate(-180deg);
			-moz-transform: rotate(-180deg);
			-o-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}

		.menu-mid {
			display: flex;
			align-items: center;
			margin-right: 50px;
			.logo {
				z-index: 101;
				margin-bottom: -55px;
				position: relative;
				top:0;
				margin-right: 38px;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out; 
				transition: all 0.5s ease-in-out; 
				svg {
					-webkit-transition: all 0.5s ease-in-out;
					-moz-transition: all 0.5s ease-in-out;
					-o-transition: all 0.5s ease-in-out; 
					transition: all 0.5s ease-in-out; 
					height: 170px;
				}
				.menu-scroller-logo {
					height: 75px !important;
				}
			}
		    .logo-go {
				top:-7px;
				padding: 10px 0;
			}
			.logo-scroller {
				margin-bottom: 0px !important;
			}
			li {
				margin-right: 38px;
				transition: all 0.3s ease;
				position: relative;
				transition: all .2s ease-in-out;
			}
			.bluedot {
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: 30px;
					left: 50%;
					transform: translateX(-50%);
					width: 11px;
					height: 11px;
					border-radius: 50%;
					background: $green;
					-webkit-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out; 
					transition: all 0.4s ease-in-out; 
			}
			.active {
					visibility: visible;
					opacity: 1;
					transition: all .2s ease-in-out;
			}
			li:hover .bluedot {
				visibility: visible;
				opacity: 1;
			}
		}
	}
		.menu-right {
			#login {
				margin-right: 48px;
				&:hover {
					color: $green !important;
				}
			}
			.cart {
				position: relative;
				.counter {
					position: absolute;
					top: 10px;
					left: 13px;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					text-align: center;
					font-size: 12px;
					color: #fff;
					background: $green;
				}
			}
			.cart-active svg path {
				fill: #222222;
			}
		}

	/* Главный блок */
	.line-view {
		position: relative;
	}

	.line {
		width: 1px;
		height: 100.8%;
		position:absolute;
		left: 150px;
		text-align: center;
		top: -60px;
		background-color: transparent;
		border-left: 2px dashed #14C8A3;
		z-index: 98;
		&-start {
			position: absolute;
			left: -16px;
			top: -20px;
			width: 30px;
			height: 30px;
			background-color: #14c8a3;
			border-radius: 100%;
		}
	}
	
	.tutu {
		width:46px;
		height:46px;
		position:absolute;
		left: 128px;
		top: -47px;
		opacity: 0;
		text-align: center;
		color:#fff;
		border-radius:50% ;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
		-webkit-transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-o-transition-duration: 0.3s;
		transition-duration: 0.3s;
		z-index: 101;
		/* display: none; */
	}

	.tutu-reverse {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
	body {
		padding:25px;
		padding-top:100px;
	}
	
	.section {
		position:relative;
	}

	.under {
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out; 
		transition: all 0.4s ease-in-out;

		width: 0%; 	   
	}

	.section > .under1, .section > .under2, .section > .under3, .section > .under4,.section > .under5, .section > .under6 {
		position: relative;
		height: 1px;
		background-color: #14C8A3;
		top:-55px ;
		left: 0;
	}

	.section > .under4 {
		top: 117px;
		left: 0;
	}
	
	.section > .under5 {
		top: 12px;
	}

	.section > .under6 {
		top: 108px;
    	left: 0;
	}
	
	.under1:before, .under2:before, .under3:before, .under4:before, .under5:before, .under6:before {
		content: '';
		position: absolute;
		left: 0;
		top: -7px;
		width: 15px;
		height: 15px;
		background-color: #14C8A3;
		border-radius: 100%;
		z-index: 98;
	}

	&-top {
		background-image: url(../img/min/bg_top.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 980px;
		color: $white;
		.middlecontent {
			text-align: center;
			margin-top: 396px;
			&-h1 div {
				padding-top: 23px;
				font-size: 36px;
				line-height: 42px;
			}
			&-search {
				display: flex;
				flex-direction: column;
				margin-top: 88px;
			}
			.dropdown-menu {
				display: flex;
				position: relative;
				z-index: 1;
				justify-content: space-between;
				align-items: center;
				top: 0;
				margin: 0;
				margin-right: 5px;
				padding: 20px;
				width: 160px;
				height: 60px;
				font-size: 18px;
				border-radius: 5px;
				background: rgba(255, 255, 255, 0.8);
		   }
		   .category {
			   position: relative;
			   cursor: pointer;
			   svg {
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out; 
				transition: all 0.4s ease-in-out; 	   
			   }
		   }
		   .arrow-active {
				-webkit-transform: rotate(-180deg);
				-moz-transform: rotate(-180deg);
				-o-transform: rotate(-180deg);
				transform: rotate(-180deg);
			}
		   .dropdown {
		   	display: none;
				list-style-type: none;
				position: absolute;
	  		top: 65px;
	  		width: 160px;
	  		font-size: 14px;
	  		padding: 20px;
	  		text-align: left;
	  		background: rgba(255, 255, 255, 0.8);
	  		border-radius: 5px;
		   }
			.search {
				display: flex;
				width: 380px;
				height: 60px;
		    border-radius: 5px;
				background: rgba(255, 255, 255, 0.8);
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out; 
				transition: all 0.5s ease-in-out; 
		    input {
				margin-left: 21px;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out; 
				transition: all 0.5s ease-in-out; 
			    width: 20em;
			    height: 100%;
			    outline: 0;
			    font-size: 18px;
			    border: none;
			    color: #4C4C4C;
			    background: none;
				}
				&-button {
					background: #ffcd00;
					border-radius: 5px;
					padding: 0 30px;
					display: inline-block;
					text-align: center;
					height: 60px;
					line-height: calc(4.2rem - .4rem);
					transition: all .2s ease-in-out;
					cursor: pointer;
					&:hover {
						background: #FFD731;
						transition: all .2s ease-in-out;
						box-shadow: 0 0 10px 0 rgba(255,215,49,.75)
					}
					svg {
						margin-top: 18px;
					}
				}

			}
			.search-active {
				width: 480px;
				input {
					width: 21em;
				}
			}
		}
		.search-example {
			text-align: center;
					margin: auto;
					margin-top: 10px;
					padding-left: 40px;
					width: 300px;
				}
	}
	&-hot, &-simple {
		padding: 50px 0;
		h2 {
			padding-bottom: 60px;
		}
	}
	/* О нас */
	&-about {
		&-img {
			position: relative;
			width: 100%;
			min-height: 264px;
			img {
				width: 100%;
				height: auto;
				object-fit: cover;
				border-radius: 10px;
			}
		}
	}
	/* Горячие туры */
	&-hot {
		/* Кнопка */
		&-btn {
			display: block;
			text-align: center;
			margin-top: 20px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 240px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: "PNBold";
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19E8BE;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
		/* Карточка тура */
		&-card {
			position: relative;
			width: 100%;
			height: 430px;
			background-color: $white;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			margin-bottom: 30px;
			transition: all .2s ease-in-out 0s;
			cursor: pointer;
			/* Поведение элементов при наведении */
			&:hover {
				transform: translateY(-.3em);
				box-shadow: 0 0.4em 2.4em 0 rgba(0,0,0,.2);
				transition: all .2s ease-in-out 0s;
				.tutti-hot-card-above-sale {
					will-change: transform;
					transition: all 0.3s ease-in-out;
					width: 300px;
					height: 300px;
					top: -25%;
    			left: -10%;
					.sale-text {
						will-change: transform;
						transition: all 0.3s ease-in-out;
					}
				}
			}
			/* Верхняя часть карточки */
			&-above {
				position: relative;
				height: 280px;
				overflow: hidden;
				border-radius: 10px;
				/* Шар со скидкой */
				&-sale {
					position: absolute;
    			background: linear-gradient(135deg, $green 18.32%, rgba(20, 200, 163, 0) 150%);
    			width: 220px;
    			height: 220px;
					border-radius: 100%;
					top: -15%;
					left: -5%;
					transition: all 0.3s ease-in-out;
					.sale-text {
						transition: all 0.3s ease-in-out;
						position: relative;
    				width: 100%;
						height: 100%;
						&-content {
							display:inline-block;
							vertical-align:middle;
							position: absolute;
							display: inline-block;
							vertical-align: middle;
							top: 53%;
    					left: 2%;
							transform: translateY(-50%);
							width: 100%;
							text-align: center;
							&-above {
								&-up, &-down {
									display:inline-block;
  								vertical-align:middle;
								}
								.digit {
									font-family: "PNExtraBold";
									font-size: 72px;
									color: $white;
									line-height: 0.9;
								}
								.percent {
									text-align:center;
								}
								.percent div:last-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 14px;
									color: $white;
									line-height: 1;
									text-transform: uppercase;
								}
								.percent div:first-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 36px;
									color: $white;
									line-height: 1;
									transform: translateY(-5px);
								}
							}
							&-below {
								text-align: center;
								font-family: "PNExtraBold";
								font-size: 48px;
								color: $white;
								line-height: 0.8;
								text-transform: uppercase;
							}
						}
					}
				}
				/* Избранное */
				&-fav {
					position: absolute;
					height: 50px;
					width: 50px;
					top: 5%;
					right: 3%;
					svg {
						height: 50px;
						width: auto;
						transition: all 0.3s ease-in-out;
						&:hover {
							transition: all 0.3s ease-in-out;
							cursor: url('../img/min/add.png'), auto;
							transform: scale(1.1)
						}
					}
				}
				/* Фоновая картинка */
				img {
					width: 100%;
    			height: 280px;
    			object-fit: cover;
    			object-position: 0% 0%;
					object-fit: cover;
					border-radius: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
				}
			}
			/* Нижняя часть карточки */
			&-below {
				padding: 25px;
				p {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.4;
					letter-spacing: 0;
					max-height: 35px;
					overflow: hidden;
				}
				.price-be {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.4;
				}
				.price-af {
					font-family: "PNBold";
					font-size: 24px;
					color: #222222;
					line-height: 1;
					svg {
						height: 17px;
						width: auto;
					}
					span.minimaze {
						font-size: 18px;
					}
					span.colorize {
						color: $green;
					}
				}
				.tm {
					font-family: "PNRegular";
				}
				&-right, &-left {
					display: inline-block;
				}
				&-left {
					float: left;
					width: 60%;
				}
				&-right {
					float: right;
					&-info {
						display: inline-block;
					}
				}
				.leftprs {
					margin-right: 15px;
				}
			}
		}
	}
	/* Баннер */
	&-bn1 {
		margin: 50px 0;
		height: 550px;
		position: relative;
		z-index: 105;
		background-image: url(../img/min/bg_bn1.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		h2 {
			color: #fff;
			margin-bottom: 15px;
		}
		&-bg {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 550px;
			padding: 0;
			background-color: rgba(20, 200, 163, .50);
		}
			&-lefts p {
				margin: 0;
				font-size: 96px;
				line-height: 113px;
				font-family: "PNExtraBold";
				color: $white;
			}
			&-lefts p:nth-child(2) {
				font-size: 72px;
				line-height: 84px;
				font-family: "PNBold";
			}
			&-lefts p:nth-child(3) {
				font-size: 64px;
				line-height: 75px;
				font-family: "PNSemiBold";
			}
		&-rights {
			color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 550px;
			padding: 0;
			& .tutti-hot-btn {
				text-align: left;
				&-a {
					width: 180px;	
				}
			}
		}
		.sale25 {
				color: $white;
				display: inline-block;
				margin-right: 40px;
				font-family: "PNExtrabold";
				font-size: 144px;
				line-height: 110px;
				text-transform: uppercase;
				&-25 {
					display: flex;
					padding-bottom: 10px;
				}
				&-pers {
					padding:  8px 0 0 5px;
					font-size: 65px;
					line-height: 55px;
					
					& div:last-child {
						padding-top: 18px;
						font-size: 24px;
						line-height: 20px;
					}
				}
				&-sale {
					font-size: 96px;
					line-height: 75px;
					padding-top: 20px;
				}
			}
		&-rights-text {
			font-size: 32px;
			line-height: 42px;
			& p {
				color: $white;
				font-size: 24px;
				margin-bottom: 30px;
				letter-spacing: 0.02em;
			}
		}
	}
	/* Туры */
	&-simple {
		/* Кнопка */
		&-btn {
			display: block;
			text-align: center;
			margin-top: 20px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 240px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: "PNBold";
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19E8BE;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
		/* Карточка тура */
		&-card {
			position: relative;
			width: 100%;
			height: 380px;
			background-color: $white;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			margin-bottom: 30px;
			transition: all .2s ease-in-out 0s;
			cursor: pointer;
			/* Поведение элементов при наведении */
			&:hover {
				transform: translateY(-.3em);
				box-shadow: 0 0.4em 2.4em 0 rgba(0,0,0,.2);
				transition: all .2s ease-in-out 0s;
				.tutti-hot-card-above-sale {
					will-change: transform;
					transition: all 0.3s ease-in-out;
					width: 300px;
					height: 300px;
					top: -25%;
    			left: -10%;
					.sale-text {
						will-change: transform;
						transition: all 0.3s ease-in-out;
					}
				}
			}
			/* Верхняя часть карточки */
			&-above {
				position: relative;
				height: 180px;
				overflow: hidden;
				border-radius: 10px;
				/* Шар со скидкой */
				&-sale {
					position: absolute;
    			background: linear-gradient(135deg, $green 18.32%, rgba(20, 200, 163, 0) 150%);
    			width: 220px;
    			height: 220px;
					border-radius: 100%;
					top: -15%;
					left: -5%;
					transition: all 0.3s ease-in-out;
					.sale-text {
						transition: all 0.3s ease-in-out;
						position: relative;
    				width: 100%;
						height: 100%;
						&-content {
							display:inline-block;
							vertical-align:middle;
							position: absolute;
							display: inline-block;
							vertical-align: middle;
							top: 53%;
    					left: 2%;
							transform: translateY(-50%);
							width: 100%;
							text-align: center;
							&-above {
								&-up, &-down {
									display:inline-block;
  								vertical-align:middle;
								}
								.digit {
									font-family: "PNExtraBold";
									font-size: 72px;
									color: $white;
									line-height: 0.9;
								}
								.percent {
									text-align:center;
								}
								.percent div:last-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 14px;
									color: $white;
									line-height: 1;
									text-transform: uppercase;
								}
								.percent div:first-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 36px;
									color: $white;
									line-height: 1;
									transform: translateY(-5px);
								}
							}
							&-below {
								text-align: center;
								font-family: "PNExtraBold";
								font-size: 48px;
								color: $white;
								line-height: 0.8;
								text-transform: uppercase;
							}
						}
					}
				}
				/* Избранное */
				&-fav {
					position: absolute;
					height: 50px;
					width: 50px;
					top: 5%;
					right: 3%;
					svg {
						height: 50px;
						width: auto;
						transition: all 0.3s ease-in-out;
						&:hover {
							transition: all 0.3s ease-in-out;
							cursor: url('../img/min/add.png'), auto;
							transform: scale(1.1)
						}
					}
				}
				/* Фоновая картинка */
				img {
					width: 100%;
    			height: 180px;
    			object-fit: cover;
    			object-position: 0% 0%;
					object-fit: cover;
					border-radius: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
				}
			}
			/* Нижняя часть карточки */
			&-below {
				padding: 25px;
				height: 180px;
				p {
					font-family: PNRegular;
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.2;
					letter-spacing: 0;
					margin-bottom: 10px;
					max-height: 30px;
					overflow: hidden;
				}
				.price-be {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.4;
				}
				.price-af {
					font-family: "PNBold";
					font-size: 24px;
					color: #222222;
					line-height: 1;
					svg {
						height: 17px;
						width: auto;
					}
					span.minimaze {
						font-size: 18px;
					}
					span.colorize {
						color: $green;
					}
				}
				.tm {
					font-family: "PNRegular";
				}
				&-right, &-left {
					display: inline-block;
				}
				&-left {
					height: 100px;
					width: auto;
				}
				&-right {
					position: absolute;
					bottom: 20px;
					left: 25px;
					&-info {
						display: inline-block;
					}
				}
				.leftprs {
					margin-right: 15px;
				}
			}
		}
	}
	/* Отзывы */
	&-testimonials {
		padding: 50px 0 0 0;
		.carousel-control-prev,
		.carousel-control-next {
			display: none;
		}
		/* Карточка отзыва */
		&-card {
			min-height: 740px;
			border-radius: 10px;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
			padding: 60px 150px;
			text-align: center;
			background-color: #ffffff;
			a {
				img {
					margin-top: 30px;
				}
			}
			&-svg {
				margin-top: 260px;
			}
			h6 {
				line-height: 1;
				color: #222222;
				font-family: "PNSemiBold";
				font-size: 24px;
				margin: 20px 0 10px;
			}
			span {
				line-height: 1;
				color: #4c4c4c;
				font-family: "PNRegular";
				font-size: 14px;
			}
			p {
				font-family: "PNLightItalic";
				line-height: 21px;
    		font-size: 16px;
    		letter-spacing: 0.02em;
				color: #4c4c4c;
				padding: 0 15px;
			}
			&-person {
				padding: 100px 0 30px;
				img {
					border-radius: 100%;
				}
			}
		.carousel-indicators {
			bottom: auto;
			top: 36px;
			li {
				width: 20px;
				height: 20px;
				border: 2px solid #222222;
				border-radius: 50%;
				cursor: pointer;
				&:hover {
						border-color: $green;
						}
				&:nth-child(2) {
					margin: 0 20px;
				}
			}
			.active {
					background: $green;
					border-color: $green;
				}
		}
		}
	}
	/* Баннер */
	&-bn2 {
		margin: 145px 0;
		height: 460px;
		position: relative;
		z-index: 105;
		background-image: url(../img/min/bus.jpg);
		background-position: 100% 85%;
		background-size: cover;
		background-repeat: no-repeat;
		h2 {
			color: #fff;
    	margin: 0 0 15px 0;
		}
		&-bg {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: auto;
			transform: translateY(-50px);
			padding: 0;
			img {
				width: 550px;
    		height: 550px;
				border-radius: 100%;
				box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
			}
		}
			&-lefts p {
				margin: 0;
				font-size: 96px;
				line-height: 113px;
				font-family: "PNExtraBold";
				color: $white;
			}
			&-lefts p:nth-child(2) {
				font-size: 72px;
				line-height: 84px;
				font-family: "PNBold";
			}
			&-lefts p:nth-child(3) {
				font-size: 64px;
				line-height: 75px;
				font-family: "PNSemiBold";
			}
		&-lefts {
			padding-right: 200px;
		}
		&-rights {
			color: $white;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 460px;
			padding: 0;
			& .tutti-hot-btn {
				text-align: left;
				&-a {
					width: 180px;	
				}
			}
		}
		&-rights-text {
			font-size: 32px;
			line-height: 42px;
			padding-left: 200px;
			& p {
    		color: #fff;
    		font-size: 24px;
				margin-bottom: 30px;
				letter-spacing: 0.02em;
			}
		}
	}
	&-guide {
		.carousel-control-prev,
		.carousel-control-next {
			display: none;
		}
		.guidecar {
			margin-top: 116px;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
			border-radius: 10px;
			.carousel-indicators {
				margin: 0;
				bottom: auto;
				right: auto;
				top: -80px;
				li {
					width: 20px;
					height: 20px;
					border: 2px solid #222222;
					border-radius: 50%;
					cursor: pointer;
					&:hover {
						border-color: $green;
						}
					&:nth-child(2) {
						margin: 0 20px;
					}
				}
			.active {
				background: $green;
				border-color: $green;
			}
			}
		}
		/* Карточка отзыва */
		&-card {
			position: relative;
			width: 100%;
			height: 515px;
			background-color: $white;
			border-radius: 10px;
			
			/* Верхняя часть карточки */
			&-above {
				position: relative;
				height: 515px;
				width: 725px;
				overflow: hidden;
				border-radius: 10px;
				/* Фоновая картинка */
				img {
					width: 725px;
    			height: 515px;
    			object-fit: cover;
    			object-position: 0% 0%;
					object-fit: cover;
					border-radius: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
				}
			}
			/* Нижняя часть карточки */
			&-below {
				padding: 40px 60px;
				height: 100%;
				width: 415px;
				h6 {
					font-family: "PNSemiBold";
					font-size: 14px;
					color: #D4D4D4;
					line-height: 1;
					margin-bottom: 25px;
				}
				h4 {
					font-family: "PNSemiBold";
					font-size: 24px;
					color: #222222;
					line-height: 1;
					margin-bottom: 15px;
				}
				p {
					font-family: "PNRegular";
					line-height: 21px;
    			font-size: 16px;
    			letter-spacing: 0.02em;
					color: #4c4c4c;
					margin-bottom: 20px;
					max-height: 252px;
					overflow: hidden;
				}
			}
			&-btn {
				display: block;
				text-align: left;
				margin-top: 30px;
				&-a {
					background-color: $green;
					border-radius: 10px;
					padding: 0 40px;
					width: 180px;
					display: inline-block;
					text-align: center;
					height: 60px;
					line-height: calc(4.2rem - .4rem);
				}
				a {
					font-family: "PNBold";
					font-size: 20px;
					color: $white;
					transition: all .2s ease-in-out 0s;
					&:hover {
						background-color: rgb(26, 219, 181);
						transition: all .2s ease-in-out;
						box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
					}
				}
			}
		}
		&-btn {
			display: block;
			text-align: center;
			margin-top: 60px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 260px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: "PNBold";
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #14C8A3;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
	}
	&-questions {
		/* Карточка отзыва */
		padding: 100px 0 100px;
		&-card {
			min-height: 780px;
			padding: 60px 100px;
			border-radius: 10px;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
			background-color: #ffffff;
			.tittle-h2 {
				text-align: center;
				margin-bottom: 30px;
			}
			p {
				font-family: "PNSemiBold";
				font-size: 24px;
				margin-bottom: 60px;
				a {
					color: #14c8a3;
					text-decoration: underline !important;
					transition: all .2s ease-in-out;
					&:hover {
						color: #19E8BE;
						transition: all .2s ease-in-out;
					}
				}
			}
			.focuslight {
				border: 1px solid #14C8A3 !important;
			}
			.search {
				display: flex;
				align-items: center;
				width: 100%;
				height: 75px;
				border-radius: 5px;
				border: 1px solid #D4D4D4;
				margin-bottom: 10px;
				input {
					&:active {
						border-color: #14C8A3;
					}
				}
				input, textarea {
					margin-left: 21px;
					width: 100%;
					height: 100%;
					outline: 0;
					font-size: 18px;
					border: none;
					color: #4c4c4c;
					background: 0 0;
				}
				textarea {
					padding-top: 18px;
					resize: none;
				}
				input[type="text"]::-webkit-input-placeholder { color:#D4D4D4; }
   			input[type="text"]:-ms-input-placeholder { color:#D4D4D4; }
				input[type="text"]::-ms-input-placeholder { color:#D4D4D4; }
				input[type="text"]::placeholder { color:#D4D4D4; }
				textarea[type="comment"]::-webkit-input-placeholder { color:#D4D4D4; }
   			textarea[type="comment"]:-ms-input-placeholder { color:#D4D4D4; }
				textarea[type="comment"]::-ms-input-placeholder { color:#D4D4D4; }
				textarea[type="comment"]::placeholder { color:#D4D4D4; }
			}
			.msg {
				height: 180px;
			}
		}
		&-btn {
			display: block;
			text-align: right;
			margin-top: 20px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 240px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: "PNBold";
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19E8BE;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
	}
}
footer {
	position: relative;
	z-index: 115;
	min-height: 980px;
	background-image: url(../img/min/footer.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	a {
		transition: all .2s ease-in-out;
		color: #fff;
	}
	a:hover {
		transition: all .2s ease-in-out;
		color: #19E8BE;
	}
	h4 {
		font-family: "PNSemiBold";
		font-size: 28px;
		color: #fff;
		line-height: 1;
		margin-bottom: 30px;
	}
	p, li a {
		font-family: "PNRegular";
		font-size: 16px;
		color: #fff;
		line-height: 1.4;
	}
	p {
		margin-bottom: 0;
	}
	.tutti-footer {
		&-ct, &-ph, &-em {
			display: flex;
    	flex-direction: row;
    	justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 20px;
			p {
				margin-left: 10px;
			}
		}
		&-ct {
			p:first-child {
				margin-left: 0;
			}
		}
		.frline {
			padding-top: 150px;
		}
		.secline {
			padding-top: 40px;
		}
		.thrcline {
			padding: 100px 0 50px 0;
			img {
				margin-right: 15px;
			}
			img:last-child {
				margin-right: 0;
			}
		}
		&-mn {
			ul {
				list-style: none;
				padding: 0;
				li {
					line-height: 1;
					margin-bottom: 10px;
				}
			}
		}
		&-tr, &-faq {
			.wrap ul {
				list-style-position: inside;
				list-style-type: decimal;
				list-style: none;
				column-count: 2;
				height: 180px;
				padding: 0;
			}
			li {
				line-height: 1;
				margin-bottom: 10px;
			}
		}
		&-tr {
			.wrap ul {
				height: 180px;
			}
		}
		&-faq {
			.wrap ul {
				height: 130px;
			}
		}
		&-mailing {
			margin-bottom: 20px;
			p {
				width: 85%;
			}
		}
		&-send {
			.search {
				display: flex;
		    align-items: center;
				width: 380px;
				height: 60px;
		    border-radius: 5px;
		    background: rgba(255, 255, 255, 0.8);
		    input {
		    	margin-left: 21px;
			    width: 20em;
			    height: 100%;
			    outline: 0;
			    font-size: 18px;
			    border: none;
			    color: #4C4C4C;
			    background: none;
				}
				a {
					font-family: "PNSemiBold";
					font-size: 20px;
					color: #fff;
				}
				&-button {
					background: #ffcd00;
					border-radius: 5px;
					padding: 0 40px;
					display: inline-block;
					text-align: center;
					height: 60px;
					line-height: calc(4.2rem - .4rem);
					cursor: pointer;
					transition: all .2s ease-in-out;
					&:hover {
						background: #FFD731;
						color: #fff;
						transition: all .2s ease-in-out;
						box-shadow: 0 0 10px 0 rgba(255,215,49,.75)
					}
				}
			}
		}
	}
	.fifline {
		height: 100px;
		a {
			transition: all .2s ease-in-out;
			color: #14C8A3;
			font-family: "PNBold"
		}
		a:hover {
			transition: all .2s ease-in-out;
			color: #19E8BE;
		}
	}
	.tutti-footer-socials {
		float: right;
		height: 20px;
		a {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
			svg {
				height: 20px;
				width: auto;
			}
		}
	}
	.footer-line {
		width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
	}
}

//Account-page
	.tutti-account {
		.personal {
			margin-left: 19%;
			.un-account {
				width: 100%;
			}
		}
		.un-account {
			position: relative;
    	height: 1px;
    	background-color: #14c8a3;
    	bottom: 50px;
    	left: 0;
    	width: 80%;
		}
		.email-pref {
			display: flex;
			flex-direction: column;
			h4 {
			margin-bottom: 25px;
			font-size: 24px;
			font-family: PNSemibold;
			}
			label {
				margin-bottom: 28px;
			}
			.radio {
				display: none;
			}
			.radio-custom {
				width: 28px;
				height: 28px;
				border: 1px solid $green;
				border-radius: 50%;
				position: relative;
				margin-right: 15px;
			}
			.radio-custom,
			.label {
				display: inline-block;
				vertical-align: middle;
				font-size: 18px;
				&:hover {
					cursor: pointer;
				}
			}
			.radio:checked + .radio-custom::before {
				content: "";
				display: block;
				position: absolute;
				top: 6px;
				right: 6px;
				bottom: 6px;
				left: 6px;
				background: $green;
				border-radius: 50%;
				font-size: 36px;
			}
		}
		.line-vert{
			display: block;
			position: absolute;
			margin-top: -20px;
			left: 50%;
			width: 1px;
			height: 700px;
			background: #EEEEEE;
		}
		table {
			font-size: 24px;
			font-family: $default-font;
			color: #4C4C4C;
		}
		td:first-child {
				font-family: PNSemibold;
				width: 60%;
				line-height: 1.8;
			}
		.underline {
			position: absolute;
			top: 40px;
			width: 100%;
			z-index: 200;
			border-bottom: 1px solid $green;
		}
		.but-send {
			.tutti-hot-btn {
				display: flex;
				justify-content: flex-end;
				margin-top: 0;
				padding-top: 30px;
				border-top: 1px solid $green;
				&-a {
					width: 160px;
				}
			}
		}
	}

//Basket
.basket {
	.simpages {
		padding-top: 0;
		margin-top: 0;
	}
	.tutti-account .un-account {
		width: 100%;
	}
	.tutti-testimonials-card {
		position: relative;
		min-height: auto;
		margin-top: 40px;
		padding: 50px;
		text-align: left;
		.wrap div {
			margin-top: 8px;
			margin-left: 50px;
			font-size: 24px;
			font-family: PNBold;
		}
		img {
			border-radius: 10px;
		}
		svg {
			position: absolute;
			right: 30px;
			top: 30px;
		}
		table {
			margin-top: 35px;
			font-size: 18px;
			color: #4C4C4C;
			.first-tr {
				color: #D4D4D4;
			}
			.second-tr {
				color: #4C4C4C;
				font-family: PNBold;
				td {
					padding-top: 15px;
				}
			}
			td {
			width: auto;
			padding-right: 50px;
			line-height: 1.2;
			}
			td:nth-child(5),
			td:nth-child(10) {
				padding-right: 0;
			}
		}
	}
	form {
		label {
	    font-size: 18px;
	    margin-top: 20px;
	    margin-left: 11px;
	    cursor: pointer;
	    &:first-child {
	    	margin-top: 0;
	    }
	   }
		.search {
			display: flex;
	    align-items: center;
	    width: 100%;
	    height: 60px;
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    border: 1px solid #d4d4d4;
	    margin-bottom: 10px;
	    input {
				margin-left: 21px;
		    width: 100%;
		    height: 100%;
		    outline: 0;
		    font-size: 18px;
		    border: none;
		    background: 0 0;
			}
			::-webkit-input-placeholder { color: #D4D4D4; }
			::-moz-placeholder          { color: #D4D4D4; } /* Firefox 19+ */
			:-moz-placeholder           { color: #D4D4D4; } /* Firefox 18- */
			:-ms-input-placeholder      { color: #D4D4D4; }
		}
	}
}

/* About Us + Guide-details pages */

.simpages {
	h5 {
    line-height: 1.2;
		margin-bottom: 30px;
		margin-top: 45px;
		max-height: inherit;
		&:first-child {
			margin-top: 0;
		}
	}
	.tutti-hot-card, .tutti-simple-card {
		h5 {
			margin-bottom: 10px;
		}
	}
	p {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	padding: 100px 0;
	margin-top: 130px;
	.popl {
    margin-bottom: 100px;
	}
	.tittle-h2 {
		padding-bottom: 60px;
	}	
	.section {
		position: relative;
		.underline {
			position: relative;
    	height: 1px;
    	background-color: #14c8a3;
    	bottom: 50px;
			left: 0px;
			width: 100%;
		}
	}
	&-img {
		position: relative;
		width: 100%;
		min-height: 264px;
		img {
			width: 100%;
			height: 400px;
			object-fit: cover;
			border-radius: 10px;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&-td {
		position: relative;
		width: 100%;
		min-height: 264px;
		img {
			width: 100%;
			height: 280px;
			object-fit: cover;
			border-radius: 10px;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.tutti-guide-card {
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul {
		padding: 0;
		margin: 0;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		margin-top: 80px;
		li {
			display: inline-block;
			padding: 0;
			margin: -2px;
			border-right: 1px solid rgba(212,208,208,.5);
			&:last-child {
				border-right: none;
			}
			.active {
				background-color: #059B76;
				color: white;
				box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
			}
			a {
				transition: all .2s ease-in-out;
				font-family: PNBold;
    		font-size: 24px;
   		 	color: #222;
    		line-height: 1;
				background-color: white;
				width: 80px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
				&:hover {
					transition: all .1s ease-in-out;
					background-color: #14C8A3;
					color: white;
				}
			}
			.first-child {
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
			}
			.last-child {
				width: 125px;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
	.map {
		border-radius: 20px;
		overflow: hidden;
		height: 420px;
	}
	.bot {
    margin-bottom: 100px;
	}
	&-ft {
		h5 {
			margin-bottom: 20px;
			margin-top: 0;
		}
		a {
			transition: all .2s ease-in-out;
			color: #222;
		}
		a:hover {
			transition: all .2s ease-in-out;
			color: #19E8BE;
		}
		.nejir {
			font-family: "PNRegular";
		}
		p {
			font-size: 16px;
			color: #222;
			line-height: 1.4;
			font-family: "PNSemiBold";
			margin-bottom: 0;
		}
		&-contacts {
			&-ct, &-ph, &-em {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
				margin-bottom: 15px;
				p {
					margin-left: 10px;
				}
			}
			&-ct {
				svg {
					margin-top: 5px;
				}
				p:first-child {
					margin-left: 0;
				}
			}
			&-ph {
				svg {
					margin-top: 5px;
				}
			}
			&-socials {
				height: 20px;
				margin-bottom: 40px;
				a {
					margin-right: 20px;
					&:last-child {
						margin-right: 0;
					}
					svg {
						height: 20px;
						width: auto;
						transition: all .2s ease-in-out 0s;
						&:hover {
							transition: all .2s ease-in-out 0s;
							.yt, .g1, .tw, .fc {
								transition: all .2s ease-in-out 0s;
							}
							.yt {
								fill: #FF0000;
							}
							.g1, .g2 {
								fill:#DD5144;
							}
							.tw {
								fill:#5da8dc;
								stroke:#5da8dc;
							}
							.fc {
								fill:#3c5a9a;
							}
						}
					}
				}
			}
		}
	}
	&-basket {
		padding-top: 50px;
		.distance {
			padding-top: 75px;
		}
		h2 {
			margin-bottom: 30px;
		}
		h2, p {
			text-align: center;
		}
		p {
			font-size: 24px;
		}
		.ex {
			&:last-child {
				margin-left: -25px;
			}
			position: relative;
		}
		.text1, .text2, .text3 {
			line-height: 1.2;
			font-family: "PNSemiBold";
			font-size: 18px;
		}
		.text1 {
			margin-top: 50px;
			margin-left: -20px;
		}
		.text2 {
			margin-top: -40px;
			margin-right: -10px;
			transform: rotate(180deg);
		}
		.text3 {
			margin-top: -40px;
			margin-right: -15px;
			transform: rotate(180deg);
		}
		.box{
			width: 150px;
			height: 80px;  
			border: dashed 2px #14c8a3;
			border-color:#14C8A3 transparent transparent transparent;
			border-radius: 50%/75px 75px 0 0;
			margin-top: -10px;
		}
		.start-ci {
			.dot {
				position: absolute;
				top: 0;
				left: 0px;
				width: 35px;
				height: 35px;
				background-color: #14C8A3;
				content: '';
				border-radius: 100%;
			}
		}
		.box2{
			width: 150px;
			height: 80px; 
			border: dashed 2px #14c8a3;
			border-color:#14C8A3 transparent transparent transparent;
			border-radius: 50%/75px 75px 0 0;
			transform: rotate(180deg);
			margin-left: -45px;
			margin-top: -45px;
		}
		.box3{
			width: 150px;
			height: 80px;  
			border: dashed 2px #14c8a3;
			border-color:#14C8A3 transparent transparent transparent;
			border-radius: 50%/75px 75px 0 0;
			margin-left: -45px;
			margin-top: -10px;
		}
		.box4{
			width: 150px;
			height: 80px;  
			border: dashed 2px #14c8a3;
			border-color:#14C8A3 transparent transparent transparent;
			border-radius: 50%/35px 75px 0 0;
			transform: rotate(180deg);
			margin-left: -45px;
			margin-top: -45px;
			.dot {
				position: absolute;
				top: 0;
				left: 0;
				width: 35px;
				height: 35px;
				background-color: #14C8A3;
				content: '';
				border-radius: 100%;
			}
			.dot-none {
				background-color: white;
				border: 1px solid #14C8A3;
			}
		}
	}
	&-book {
		background-color: #fff;
		box-shadow: 0 0 15px rgba(0,0,0,.15);
		height: 140px;
		border-radius: 10px;
		margin: 30px 0 50px;
		padding: 30px 50px;
		.trma {
			width: 50%;
			.price-be {
				font-family: PNRegular;
				font-size: 24px;
				color: #4c4c4c;
				line-height: 1;
			}
			.price-af {
				font-family: PNBold;
				font-size: 48px;
				color: #222;
				line-height: 1;
					.colorize {
						color: #14c8a3;
					}
					.minimaze {
						font-size: 36px;
					}
			}
		}
		&-btn {
			text-align: center;
			width: 100%;
			&-a {
				background-color: #14c8a3;
				border-radius: 10px;
				padding: 0 40px;
				width: 240px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
				svg {
					margin-right: 10px;
				}
			}
			a {
				font-family: "PNBold";
				font-size: 20px;
				color: #fff;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19e8be;
					box-shadow: 0 0 10px 0 rgba(25,232,190,.75);
					transition: all .2s ease-in-out 0s;
				}
			}
		}
	}
	&-details {
		margin-bottom: 60px;
		&-svg {
			margin-right: 60px;
			svg {
				margin-right: 10px;
			}
			span {
				line-height: 1;
				font-family: "PNSemiBold";
				font-size: 18px;
			}
		}
	}
	&-condition {
		&-svg {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 15px;
			}
			svg {
				margin-right: 10px;
			}
			span {
				line-height: 1;
				font-family: "PNSemiBold";
				font-size: 18px;
			}
		}
	}
	
}

/* tours-trips */

.tutti {
	&-breadcrumbs {
		&-row {
			margin-bottom: 20px;
			font-size: 18px;
			font-family: "PNRegular";
			color: #14C8A3;
			padding-top: 20px;
			a {
				color: #059B76;
				cursor: pointer;
			}
			&-home {
				margin-right: 0;
			}
			&-separator {
				color: #4c4c4c;
			}
		}
	}
	&-filter {
		display: inline-block;
    height: 60px;
		vertical-align: top;
		margin-right: -4px;
	}
	&-date {
    width: 35%;
	}
	&-category {
    width: 25%;
	}
	&-price {
    width: 25%;
	}
	&-btn {
    width: 15%;
	}
	&-filters {
		padding-bottom: 50px;
		&-form {
			input {
				width: 100%;
				height: 58px;
				border: none;
			}
			.filter-content {
				div {
					display: inline-block;
				}
			}
			.form-text {
				margin-top: 0;
			}
			&-data {
				border: 1px solid #D4D4D4;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				.filter-content {
					.date-wrapper {
						width: 50%;
						margin-right: -4px;
						.form-textfield {
							position: relative;
							padding-left: 55px;
							.separator {
								border-right: 1px solid #D4D4D4;
							}
							.form-svg {
								position: absolute;
								display: block;
								top: 53%;
								left: 30px;
								transform: translateY(-50%);
							}
						}
					}
				}
			}
			&-category {
				border-top: 1px solid #D4D4D4;
				border-bottom: 1px solid #D4D4D4;
				.filter-content {
					.form-textfield {
						width: 100%;
						position: relative;
						label {
							height: 58px;
							line-height: 58px;
							margin-bottom: 0;
							padding: 0 30px 0;
						}
						.form-svg {
							position: absolute;
							display: block;
							top: 50%;
							right: 30px;
							transform: translateY(-50%);
						}
					}
				}
			}
			&-price {
				border: 1px solid #D4D4D4;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				.filter-content {
					position: relative;
					top: 65%;
					padding: 0 15px;
				}
			}
			&-submit {
				&-btn {
					a {
						background-color: #14c8a3;
						border-radius: 10px;
						padding: 0 40px;
						width: 140px;
						display: inline-block;
						text-align: center;
						float: right;
						height: 60px;
						line-height: -webkit-calc(4.2rem - .4rem);
						line-height: calc(4.2rem - .4rem);
						font-family: PNBold;
						font-size: 20px;
						color: #fff;
						transition: all .2s ease-in-out 0s;
						&:hover {
							background-color: #19e8be;
    					box-shadow: 0 0 10px 0 rgba(25,232,190,.75);
						}
					}
				}
			}
		}
	}
}

@import "media";