@import "vars";
@import "fonts";
@import "libs";


::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: $white;
}

html, body {
	height: 100%;
}
a {
	text-decoration: none!important;
	color: #273238;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea {
			border: #666 1px solid;
			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
	}
}

$border-color: #E6003E;
$background-color: #FBFBF8;
$border-radius-big: 6px;
$font-size-header: 20px;
$car-color: $border-color;
$spin-deg: 36deg;


.tutti {
	h1 {
		font-family: "PNSemiBold";
		font-size: 96px;
		line-height: 70px;
		margin: 0;
	}
	h2 {
		font-family: "PNBold";
		font-size: 36px;
		color: #222222;
		line-height: 1;
	}
	h5 {
		font-family: "PNSemiBold";
    font-size: 18px;
    color: #222;
		line-height: 1.4;
		margin-bottom: 10px;
	}
	p {
		font-family: "PNRegular";
		font-size: 18px;
		color: #4c4c4c;
		line-height: 1.4;
	}
	.tittle-h2 {
		font-family: "PNBold";
		font-size: 36px;
		color: #222222;
		line-height: 1;
	}
	&-about, &-hot, &-simple {
		padding: 100px 0 50px;
		.tittle-h2 {
			padding-bottom: 60px;
		}
	}

	/* Меню */
	.menu {
		position: fixed;
		z-index: 99;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 25px 50px 0;
		font-family: "PNSemibold";
		ul, li, a {
			color: $white;
			padding: 0;
			margin: 0;
		}
		li {
			display: inline-block;
		}
		
		.menu-left, .menu-right {
			display: flex;
			align-items: center;
			width: auto;
			.dropdown-menu {
			display: inline-block;
			position: relative;
			min-width: 0;
	  	background: none;
	  	border: none;
	  	margin: 0;
	  	padding: 0;
			transition: all 1s ease;
			margin-right: 50px;
				.flag-eng {margin-right: 10px;}
	  		.down {margin: 0 0 2px 15px;}
			.dropdown {
				display: none;
				position: absolute;
	  		left: 35px;
	  		width: auto;
	  		font-size: 14px;
	  		li a:hover {color: $green;}
			}
			}
			.dropdown-menu:lest-child {
				margin-right: 0;
			}
			.currency {
				.dropdown-menu {
				margin-right: 0;
				}
				.dropdown{
				left: 0px;
				margin-right: 0;
				}
			}
		}

	  .dropdown-menu:hover .dropdown {
	  display: block;
		}

		.menu-mid {
			display: flex;
			align-items: center;
			margin-right: 50px;
			.logo {
				margin-bottom: -55px;
				margin-right: 38px;
			}
			li {
				margin-right: 38px;
				transition: all 0.3s ease;
				position: relative;
			}
			.bluedot {
					display: none;
					position: absolute;
					top: 30px;
					left: 50%;
					transform: translateX(-50%);
					width: 11px;
					height: 11px;
					border-radius: 50%;
					background: $green;
			}
			.active {
					display: block;
			}
			li:hover .bluedot {
				display: block;
			}
		}
	}

		.menu-right {
			#login {
				margin-right: 48px;
				&:hover {
					color: $green;
				}
			}
			.cart {
				position: relative;
				.counter {
					position: absolute;
					top: 10px;
					left: 13px;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					text-align: center;
					font-size: 12px;
					background: $green;
				}
			}
		}

	/* Главный блок */
	&-top {
		background-image: url(../img/min/bg_top.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 980px;
		color: $white;
		.middlecontent {
			text-align: center;
			margin-top: 396px;
			&-h1 div {
				padding-top: 23px;
				font-size: 36px;
				line-height: 42px;
			}
			&-search {
				margin-top: 88px;
				flex-wrap: wrap;
				.row {
					justify-content: center;
				}
			}
			.dropdown-menu {
		    display: flex;
		    position: relative;
		    justify-content: space-between;
		    align-items: center;
		    top: 0;
		    margin: 0;
		    margin-right: 5px;
		    padding: 20px;
		    width: 160px;
				height: 60px;
				font-size: 18px;
		    border-radius: 5px;
		    background: rgba(255, 255, 255, 0.8);
		   }
		   .category:hover .dropdown {
	  			display: block;
				}
		   .dropdown {
		   	display: none;
				list-style-type: none;
				position: absolute;
	  		margin-top: 65px;
	  		width: 160px;
	  		font-size: 14px;
	  		padding: 20px;
	  		text-align: left;
	  		background: rgba(255, 255, 255, 0.8);
	  		border-radius: 5px;
		   }
			.search {
				display: flex;
		    align-items: center;
				width: 380px;
				height: 60px;
		    border-radius: 5px;
		    background: rgba(255, 255, 255, 0.8);
		    input {
		    	margin-left: 21px;
			    width: 20em;
			    height: 100%;
			    outline: 0;
			    font-size: 18px;
			    border: none;
			    color: #4C4C4C;
			    background: none;
				}
				&-button {
					background: #ffcd00;
					border-radius: 10px;
					padding: 0 30px;
					display: inline-block;
					text-align: center;
					height: 60px;
					line-height: calc(4.2rem - .4rem);
					transition: all .2s ease-in-out;
					cursor: pointer;
					&:hover {
						background: #FFD731;
						transition: all .2s ease-in-out;
						box-shadow: 0 0 10px 0 rgba(255,215,49,.75)
					}
					svg {
						margin-top: 18px;
					}
				}
				.search-example {
					width: 300px !important;
					text-align: left !important;
					margin-top: 10px !important;
				}
			}
		}
	}
	&-hot, &-simple, &-testimonials {
		padding: 50px 0;
		h2 {
			padding-bottom: 60px;
		}
	}
	/* О нас */
	&-about {
		&-img {
			position: relative;
			width: 100%;
			min-height: 264px;
			img {
				width: 100%;
				height: auto;
				object-fit: cover;
				border-radius: 10px;
			}
		}
	}
	/* Горячие туры */
	&-hot {
		/* Кнопка */
		&-btn {
			display: block;
			text-align: center;
			margin-top: 20px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 240px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: PNBold;
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19E8BE;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
		/* Карточка тура */
		&-card {
			position: relative;
			width: 100%;
			height: 400px;
			background-color: $white;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
			border-radius: 10px;
			margin-bottom: 30px;
			transition: all .2s ease-in-out 0s;
			cursor: pointer;
			/* Поведение элементов при наведении */
			&:hover {
				transform: translateY(-.3em);
				box-shadow: 0 0.4em 2.4em 0 rgba(0,0,0,.2);
				transition: all .2s ease-in-out 0s;
				.tutti-hot-card-above-sale {
					will-change: transform;
					transition: all 0.3s ease-in-out;
					width: 300px;
					height: 300px;
					top: -25%;
    			left: -10%;
					.sale-text {
						will-change: transform;
						transition: all 0.3s ease-in-out;
					}
				}
			}
			/* Верхняя часть карточки */
			&-above {
				position: relative;
				height: 280px;
				overflow: hidden;
				border-radius: 10px;
				/* Шар со скидкой */
				&-sale {
					position: absolute;
    			background: linear-gradient(135deg, $green 18.32%, rgba(20, 200, 163, 0) 150%);
    			width: 220px;
    			height: 220px;
					border-radius: 100%;
					top: -15%;
					left: -5%;
					transition: all 0.3s ease-in-out;
					.sale-text {
						transition: all 0.3s ease-in-out;
						position: relative;
    				width: 100%;
						height: 100%;
						&-content {
							display:inline-block;
							vertical-align:middle;
							position: absolute;
							display: inline-block;
							vertical-align: middle;
							top: 53%;
    					left: 2%;
							transform: translateY(-50%);
							width: 100%;
							text-align: center;
							&-above {
								&-up, &-down {
									display:inline-block;
  								vertical-align:middle;
								}
								.digit {
									font-family: "PNExtraBold";
									font-size: 72px;
									color: $white;
									line-height: 0.9;
								}
								.percent {
									text-align:center;
								}
								.percent div:last-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 14px;
									color: $white;
									line-height: 1;
									text-transform: uppercase;
								}
								.percent div:first-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 36px;
									color: $white;
									line-height: 1;
									transform: translateY(-5px);
								}
							}
							&-below {
								text-align: center;
								font-family: "PNExtraBold";
								font-size: 48px;
								color: $white;
								line-height: 0.8;
								text-transform: uppercase;
							}
						}
					}
				}
				/* Избранное */
				&-fav {
					position: absolute;
					height: 50px;
					width: 50px;
					top: 5%;
					right: 3%;
					svg {
						height: 50px;
						width: auto;
						transition: all 0.3s ease-in-out;
						&:hover {
							transition: all 0.3s ease-in-out;
							cursor: url('../img/min/add.png'), auto;
							transform: scale(1.1)
						}
					}
				}
				/* Фоновая картинка */
				img {
					width: 100%;
    			height: 280px;
    			object-fit: cover;
    			object-position: 0% 0%;
					object-fit: cover;
					border-radius: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
				}
			}
			/* Нижняя часть карточки */
			&-below {
				padding: 25px;
				p {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.4;
					letter-spacing: 0;
				}
				.price-be {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.4;
				}
				.price-af {
					font-family: "PNBold";
					font-size: 24px;
					color: #222222;
					line-height: 1;
					svg {
						height: 17px;
						width: auto;
					}
					span.minimaze {
						font-size: 18px;
					}
					span.colorize {
						color: $green;
					}
				}
				.tm {
					font-family: "PNRegular";
				}
				&-right, &-left {
					display: inline-block;
				}
				&-left {
					float: left;
					width: 60%;
				}
				&-right {
					float: right;
					&-info {
						display: inline-block;
					}
				}
				.leftprs {
					margin-right: 15px;
				}
			}
		}
	}
	/* Баннер */
	&-bn1 {
		margin: 50px 0;
		height: 550px;
		background-image: url(../img/min/bg_bn1.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		h2 {
			color: #fff;
			margin-bottom: 15px;
		}
		&-bg {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 550px;
			padding: 0;
			background-color: rgba(20, 200, 163, .50);
		}
			&-lefts p {
				margin: 0;
				font-size: 96px;
				line-height: 113px;
				font-family: "PNExtraBold";
				color: $white;
			}
			&-lefts p:nth-child(2) {
				font-size: 72px;
				line-height: 84px;
				font-family: "PNBold";
			}
			&-lefts p:nth-child(3) {
				font-size: 64px;
				line-height: 75px;
				font-family: "PNSemiBold";
			}
		&-rights {
			color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 550px;
			padding: 0;
			& .tutti-hot-btn {
				text-align: left;
				&-a {
					width: 180px;	
				}
			}
		}
		.sale25 {
				color: $white;
				display: inline-block;
				margin-right: 40px;
				font-family: "PNExtrabold";
				font-size: 144px;
				line-height: 110px;
				text-transform: uppercase;
				&-25 {
					display: flex;
					padding-bottom: 10px;
				}
				&-pers {
					padding:  8px 0 0 5px;
					font-size: 65px;
					line-height: 55px;
					
					& div:last-child {
						padding-top: 18px;
						font-size: 24px;
						line-height: 20px;
					}
				}
				&-sale {
					font-size: 96px;
					line-height: 75px;
					padding-top: 20px;
				}
			}
		&-rights-text {
			font-size: 32px;
			line-height: 42px;
			& p {
				color: $white;
				font-size: 24px;
				margin-bottom: 30px;
				letter-spacing: 0.02em;
			}
		}
	}
	/* Туры */
	&-simple {
		/* Кнопка */
		&-btn {
			display: block;
			text-align: center;
			margin-top: 20px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 240px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: PNBold;
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19E8BE;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
		/* Карточка тура */
		&-card {
			position: relative;
			width: 100%;
			height: 365px;
			background-color: $white;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
			border-radius: 10px;
			margin-bottom: 30px;
			transition: all .2s ease-in-out 0s;
			cursor: pointer;
			/* Поведение элементов при наведении */
			&:hover {
				transform: translateY(-.3em);
				box-shadow: 0 0.4em 2.4em 0 rgba(0,0,0,.2);
				transition: all .2s ease-in-out 0s;
				.tutti-hot-card-above-sale {
					will-change: transform;
					transition: all 0.3s ease-in-out;
					width: 300px;
					height: 300px;
					top: -25%;
    			left: -10%;
					.sale-text {
						will-change: transform;
						transition: all 0.3s ease-in-out;
					}
				}
			}
			/* Верхняя часть карточки */
			&-above {
				position: relative;
				height: 180px;
				overflow: hidden;
				border-radius: 10px;
				/* Шар со скидкой */
				&-sale {
					position: absolute;
    			background: linear-gradient(135deg, $green 18.32%, rgba(20, 200, 163, 0) 150%);
    			width: 220px;
    			height: 220px;
					border-radius: 100%;
					top: -15%;
					left: -5%;
					transition: all 0.3s ease-in-out;
					.sale-text {
						transition: all 0.3s ease-in-out;
						position: relative;
    				width: 100%;
						height: 100%;
						&-content {
							display:inline-block;
							vertical-align:middle;
							position: absolute;
							display: inline-block;
							vertical-align: middle;
							top: 53%;
    					left: 2%;
							transform: translateY(-50%);
							width: 100%;
							text-align: center;
							&-above {
								&-up, &-down {
									display:inline-block;
  								vertical-align:middle;
								}
								.digit {
									font-family: "PNExtraBold";
									font-size: 72px;
									color: $white;
									line-height: 0.9;
								}
								.percent {
									text-align:center;
								}
								.percent div:last-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 14px;
									color: $white;
									line-height: 1;
									text-transform: uppercase;
								}
								.percent div:first-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 36px;
									color: $white;
									line-height: 1;
									transform: translateY(-5px);
								}
							}
							&-below {
								text-align: center;
								font-family: "PNExtraBold";
								font-size: 48px;
								color: $white;
								line-height: 0.8;
								text-transform: uppercase;
							}
						}
					}
				}
				/* Избранное */
				&-fav {
					position: absolute;
					height: 50px;
					width: 50px;
					top: 5%;
					right: 3%;
					svg {
						height: 50px;
						width: auto;
						transition: all 0.3s ease-in-out;
						&:hover {
							transition: all 0.3s ease-in-out;
							cursor: url('../img/min/add.png'), auto;
							transform: scale(1.1)
						}
					}
				}
				/* Фоновая картинка */
				img {
					width: 100%;
    			height: 180px;
    			object-fit: cover;
    			object-position: 0% 0%;
					object-fit: cover;
					border-radius: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
				}
			}
			/* Нижняя часть карточки */
			&-below {
				padding: 25px;
				height: 180px;
				p {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1;
					letter-spacing: 0;
					margin-bottom: 20px;
				}
				.price-be {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.4;
				}
				.price-af {
					font-family: "PNBold";
					font-size: 24px;
					color: #222222;
					line-height: 1;
					svg {
						height: 17px;
						width: auto;
					}
					span.minimaze {
						font-size: 18px;
					}
					span.colorize {
						color: $green;
					}
				}
				.tm {
					font-family: "PNRegular";
				}
				&-right, &-left {
					display: inline-block;
				}
				&-left {
					width: auto;
				}
				&-right {
					&-info {
						display: inline-block;
					}
				}
				.leftprs {
					margin-right: 15px;
				}
			}
		}
	}
	/* Отзывы */
	&-testimonials {
		/* Карточка отзыва */
		&-card {
			min-height: 740px;
			border-radius: 10px;
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
		}
	}
	/* Баннер */
	&-bn2 {
		margin: 50px 0;
		height: 460px;
		background-image: url(../img/min/bus.jpg);
		background-position: 100% 85%;
		background-size: cover;
		background-repeat: no-repeat;
		h2 {
			color: #fff;
    	margin: 0 0 15px 0;
		}
		&-bg {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: auto;
			transform: translateY(-50px);
			padding: 0;
			img {
				width: 550px;
    		height: 550px;
				border-radius: 100%;
				box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
			}
		}
			&-lefts p {
				margin: 0;
				font-size: 96px;
				line-height: 113px;
				font-family: "PNExtraBold";
				color: $white;
			}
			&-lefts p:nth-child(2) {
				font-size: 72px;
				line-height: 84px;
				font-family: "PNBold";
			}
			&-lefts p:nth-child(3) {
				font-size: 64px;
				line-height: 75px;
				font-family: "PNSemiBold";
			}
		&-lefts {
			padding-right: 200px;
		}
		&-rights {
			color: $white;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 460px;
			padding: 0;
			& .tutti-hot-btn {
				text-align: left;
				&-a {
					width: 180px;	
				}
			}
		}
		&-rights-text {
			font-size: 32px;
			line-height: 42px;
			padding-left: 200px;
			& p {
    		color: #fff;
    		font-size: 24px;
				margin-bottom: 30px;
				letter-spacing: 0.02em;
			}
		}
	}
	&-guide {
		/* Карточка отзыва */
		&-card {
			min-height: 740px;
			border-radius: 10px;
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
		}
	}
	&-questions {
		/* Карточка отзыва */
		&-card {
			min-height: 740px;
			border-radius: 10px;
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
		}
	}
}
footer {
	min-height: 980px;
	background-image: url(../img/min/footer.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	h4 {
		font-family: "PNSemiBold";
		font-size: 28px;
		color: #fff;
		line-height: 1;
		margin-bottom: 30px;
	}
	p, li a {
		font-family: "PNRegular";
		font-size: 16px;
		color: #fff;
		line-height: 1.4;
	}
	p {
		margin-bottom: 0;
	}
	.tutti-footer {
		&-ct, &-ph, &-em {
			display: flex;
    	flex-direction: row;
    	justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 20px;
			p {
				margin-left: 10px;
			}
		}
		&-ct {
			p:first-child {
				margin-left: 0;
			}
		}
		.frline {
			padding-top: 150px;
		}
		.secline {
			padding-top: 40px;
		}
		&-mn {
			ul {
				list-style: none;
				padding: 0;
				li {
					line-height: 1;
					margin-bottom: 10px;
				}
			}
		}
		&-tr, &-faq {
			.wrap ul {
				list-style-position: inside;
				list-style-type: decimal;
				list-style: none;
				column-count: 2;
				height: 180px;
				padding: 0;
			}
			li {
				line-height: 1;
				margin-bottom: 10px;
			}
		}
		&-tr {
			.wrap ul {
				height: 180px;
			}
		}
		&-faq {
			.wrap ul {
				height: 130px;
			}
		}
		&-mailing {
			margin-bottom: 20px;
		}
		&-send {
			.search {
				display: flex;
		    align-items: center;
				width: 380px;
				height: 60px;
		    border-radius: 10px;
		    background: rgba(255, 255, 255, 0.8);
		    input {
		    	margin-left: 21px;
			    width: 20em;
			    height: 100%;
			    outline: 0;
			    font-size: 18px;
			    border: none;
			    color: #4C4C4C;
			    background: none;
				}
				a {
					font-family: "PNSemiBold";
					font-size: 20px;
					color: #fff;
				}
				&-button {
					background: #ffcd00;
					border-radius: 10px;
					padding: 0 40px;
					display: inline-block;
					text-align: center;
					height: 60px;
					line-height: calc(4.2rem - .4rem);
					cursor: pointer;
					transition: all .2s ease-in-out;
					&:hover {
						background: #FFD731;
						transition: all .2s ease-in-out;
						box-shadow: 0 0 10px 0 rgba(255,215,49,.75)
					}
				}
			}
		}
	}

}

@import "media";