@import "vars";
@import "fonts";
@import "libs";


::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: $white;
}

html, body {
	height: 100%;
}
a {
	text-decoration: none!important;
	color: #273238;
}

body {
	font-size: 16px;
	min-width: 320px;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	input, textarea {
			border: #666 1px solid;
			outline: none;
			&:focus:required:invalid {
				border-color: red;
			}
			&:required:valid {
				border-color: green;
			}
	}
}

$border-color: #E6003E;
$background-color: #FBFBF8;
$border-radius-big: 6px;
$font-size-header: 20px;
$car-color: $border-color;
$spin-deg: 36deg;

strong, b {
	font-weight: inherit; 
}

.tutti {
	h1 {
		font-family: "PNSemiBold";
		font-size: 96px;
		line-height: 70px;
		margin: 0;
	}
	h2 {
		font-family: "PNBold";
		font-size: 36px;
		color: #222222;
		line-height: 1;
	}
	h5 {
		font-family: "PNSemiBold";
    font-size: 18px;
    color: #222;
		line-height: 1.4;
		margin-bottom: 10px;
	}
	p {
		font-family: "PNRegular";
		font-size: 18px;
		color: #4c4c4c;
		line-height: 1.4;
	}
	.tittle-h2 {
		font-family: "PNBold";
		font-size: 36px;
		color: #222222;
		line-height: 1;
	}
	&-about, &-hot, &-simple {
		padding: 100px 0 50px;
		.tittle-h2 {
			padding-bottom: 60px;
		}
	}

	/* Меню */
	.menu-black {
		color: black !important;
	}
	.menu-scroller {
		padding: 5px 50px 0 !important;
		background: rgba(255, 255, 255, 1) !important;
		border-bottom: 1px solid rgba(34, 34, 34, .15);
		.logo-scroller {
			transform: translateY(10px);
		}
	}
	
	.menu {
		position: fixed;
		z-index: 115;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background: rgba(0,0,0,0);
		padding: 25px 50px 0;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out; 
		transition: all 0.5s ease-in-out; 
		font-family: "PNSemibold";
		ul, li, a {
			color: $white;
			padding: 0;
			margin: 0;
		}
		li {
			display: inline-block;
			transition: all .2s ease-in-out;
		}
		.menu-left, .menu-right {
			display: flex;
			align-items: center;
			width: auto;
			.dropdown-menu {
			display: inline-block;
			position: relative;
			min-width: 0;
	  	background: none;
	  	border: none;
	  	margin: 0;
	  	padding: 0;
			transition: all 1s ease;
			margin-right: 50px;
				.flag-eng {margin-right: 10px;}
	  		.down {
				margin: 0 0 2px 15px;
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out; 
				transition: all 0.4s ease-in-out; 
			}
			.down-active path  {
				fill: #000;
			}
			.white-bg {
				padding: 10px 5px 10px 10px;
				background: $white;
				border-radius: 5px ;
				-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
			}
			.dropdown {
				display: none;
				position: absolute;
	  		left: 35px;
	  		width: auto;
				font-size: 14px;
				li {
					transition: all .2s ease-in-out;
				}
	  		li a:hover {
					color: $green !important;
					transition: all .2s ease-in-out;
				}
			}
			}
			.dropdown-menu:lest-child {
				margin-right: 0;
			}
			.currency {
				.dropdown-menu {
				margin-right: 0;
				}
				.dropdown{
				left: 0px;
				margin-right: 0;
				}
			}
		}

		.arrow-active {
			-webkit-transform: rotate(-180deg);
			-moz-transform: rotate(-180deg);
			-o-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}

		.menu-mid {
			display: flex;
			align-items: center;
			margin-right: 50px;
			.logo {
				z-index: 101;
				margin-bottom: -55px;
				position: relative;
				top:0;
				margin-right: 38px;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out; 
				transition: all 0.5s ease-in-out; 
				svg {
					-webkit-transition: all 0.5s ease-in-out;
					-moz-transition: all 0.5s ease-in-out;
					-o-transition: all 0.5s ease-in-out; 
					transition: all 0.5s ease-in-out; 
					height: 170px;
				}
				.menu-scroller-logo {
					height: 75px !important;
				}
			}
		    .logo-go {
				top:-7px;
				padding: 10px 0;
			}
			.logo-scroller {
				margin-bottom: 0px !important;
			}
			li {
				margin-right: 38px;
				transition: all 0.3s ease;
				position: relative;
				transition: all .2s ease-in-out;
			}
			.bluedot {
					opacity: 0;
					visibility: hidden;
					position: absolute;
					top: 30px;
					left: 50%;
					transform: translateX(-50%);
					width: 11px;
					height: 11px;
					border-radius: 50%;
					background: $green;
					-webkit-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out; 
					transition: all 0.4s ease-in-out; 
			}
			.active {
					display: block;
					transition: all .2s ease-in-out;
			}
			li:hover .bluedot {
				visibility: visible;
				opacity: 1;
			}
		}
	}
		.menu-right {
			#login {
				margin-right: 48px;
				&:hover {
					color: $green !important;
				}
			}
			.cart {
				position: relative;
				.counter {
					position: absolute;
					top: 10px;
					left: 13px;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					text-align: center;
					font-size: 12px;
					background: $green;
				}
			}
			.cart-active svg path {
				fill: #000;
			}
		}

	/* Главный блок */
	.line-view {
		position: relative;
	}

	.line {
		width: 1px;
		height: 100.8%;
		position:absolute;
		left: 150px;
		text-align: center;
		top: -60px;
		background-color: transparent;
		border-left: 2px dashed #14C8A3;
		z-index: 98;
		&-start {
			position: absolute;
			left: -16px;
			top: -20px;
			width: 30px;
			height: 30px;
			background-color: #14c8a3;
			border-radius: 100%;
		}
	}
	
	.tutu {
		width:46px;
		height:46px;
		position:absolute;
		left: 78px;
		top: -51px;
		opacity: 0;
		text-align: center;
		color:#fff;
		border-radius:50% ;
		transition: all 0.75s ease-in-out;
		z-index: 101;
		/* display: none; */
	}

	.tutu-reverse {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
	body {
		padding:25px;
		padding-top:100px;
	}
	
	.section {
		position:relative;
	}

	.under {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out; 
		transition: all 0.5s ease-in-out;
		width: 0%; 	   
	}
	
	.section > .under1, .section > .under2, .section > .under3, .section > .under4,.section > .under5, .section > .under6 {
		position: relative;
		height: 1px;
		background-color: #14C8A3;
		top:-55px ;
		left: -254px;
	}
	
	/*.section > .under1 {
		width: 44%;
	}
	
	.section > .under2 {
		width: 49.5%;
	}
	
	.section > .under3 {
		width: 52%;
	}

	

	.section > .under5 {
		width: 43.5%;
	}

	.section > .under6 {
		width: 60%;
		top: 105px;
		left: -349px;
	}*/

	.section > .under4 {
		top: 117px;
	}

	.section > .under5 {
		top: 12px;
	}

	.section > .under6 {
		top: 108px;
    	left: -239px!important;
	}
	
	.under1:before, .under2:before, .under3:before, .under4:before, .under5:before, .under6:before {
		content: '';
		position: absolute;
		left: 0;
		top: -7px;
		width: 15px;
		height: 15px;
		background-color: #14C8A3;
		border-radius: 100%;
		z-index: 98;
	}

	&-top {
		background-image: url(../img/min/bg_top.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 980px;
		color: $white;
		.middlecontent {
			text-align: center;
			margin-top: 396px;
			&-h1 div {
				padding-top: 23px;
				font-size: 36px;
				line-height: 42px;
			}
			&-search {
				display: flex;
				flex-direction: column;
				margin-top: 88px;
			}
			.dropdown-menu {
				display: flex;
				position: relative;
				z-index: 1;
				justify-content: space-between;
				align-items: center;
				top: 0;
				margin: 0;
				margin-right: 5px;
				padding: 20px;
				width: 160px;
				height: 60px;
				font-size: 18px;
				border-radius: 5px;
				background: rgba(255, 255, 255, 0.8);
		   }
		   .category {
			   position: relative;
			   cursor: pointer;
			   svg {
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out; 
				transition: all 0.4s ease-in-out; 	   
			   }
		   }
		   .arrow-active {
				-webkit-transform: rotate(-180deg);
				-moz-transform: rotate(-180deg);
				-o-transform: rotate(-180deg);
				transform: rotate(-180deg);
			}
		   .dropdown {
		   	display: none;
				list-style-type: none;
				position: absolute;
	  		top: 65px;
	  		width: 160px;
	  		font-size: 14px;
	  		padding: 20px;
	  		text-align: left;
	  		background: rgba(255, 255, 255, 0.8);
	  		border-radius: 5px;
		   }
			.search {
				display: flex;
				width: 380px;
				height: 60px;
		    	border-radius: 5px;
				background: rgba(255, 255, 255, 0.8);
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out; 
				transition: all 0.5s ease-in-out; 
		    input {
				margin-left: 21px;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out; 
				transition: all 0.5s ease-in-out; 
			    width: 20em;
			    height: 100%;
			    outline: 0;
			    font-size: 18px;
			    border: none;
			    color: #4C4C4C;
			    background: none;
				}
				&-button {
					background: #ffcd00;
					border-radius: 5px;
					padding: 0 30px;
					display: inline-block;
					text-align: center;
					height: 60px;
					line-height: calc(4.2rem - .4rem);
					transition: all .2s ease-in-out;
					cursor: pointer;
					&:hover {
						background: #FFD731;
						transition: all .2s ease-in-out;
						box-shadow: 0 0 10px 0 rgba(255,215,49,.75)
					}
					svg {
						margin-top: 18px;
					}
				}

			}
			.search-active {
				width: 480px;
				input {
					width: 21em;
				}
			}
		}
		.search-example {
			text-align: center;
					margin: auto;
					margin-top: 10px;
					padding-left: 40px;
					width: 300px;
				}
	}
	&-hot, &-simple {
		padding: 50px 0;
		h2 {
			padding-bottom: 60px;
		}
	}
	&-testimonials {
		padding: 50px 0 0 0;
	}
	/* О нас */
	&-about {
		&-img {
			position: relative;
			width: 100%;
			min-height: 264px;
			img {
				width: 100%;
				height: auto;
				object-fit: cover;
				border-radius: 10px;
			}
		}
	}
	/* Горячие туры */
	&-hot {
		/* Кнопка */
		&-btn {
			display: block;
			text-align: center;
			margin-top: 20px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 240px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: "PNBold";
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19E8BE;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
		/* Карточка тура */
		&-card {
			position: relative;
			width: 100%;
			height: 400px;
			background-color: $white;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
			border-radius: 10px;
			margin-bottom: 30px;
			transition: all .2s ease-in-out 0s;
			cursor: pointer;
			/* Поведение элементов при наведении */
			&:hover {
				transform: translateY(-.3em);
				box-shadow: 0 0.4em 2.4em 0 rgba(0,0,0,.2);
				transition: all .2s ease-in-out 0s;
				.tutti-hot-card-above-sale {
					will-change: transform;
					transition: all 0.3s ease-in-out;
					width: 300px;
					height: 300px;
					top: -25%;
    			left: -10%;
					.sale-text {
						will-change: transform;
						transition: all 0.3s ease-in-out;
					}
				}
			}
			/* Верхняя часть карточки */
			&-above {
				position: relative;
				height: 280px;
				overflow: hidden;
				border-radius: 10px;
				/* Шар со скидкой */
				&-sale {
					position: absolute;
    			background: linear-gradient(135deg, $green 18.32%, rgba(20, 200, 163, 0) 150%);
    			width: 220px;
    			height: 220px;
					border-radius: 100%;
					top: -15%;
					left: -5%;
					transition: all 0.3s ease-in-out;
					.sale-text {
						transition: all 0.3s ease-in-out;
						position: relative;
    				width: 100%;
						height: 100%;
						&-content {
							display:inline-block;
							vertical-align:middle;
							position: absolute;
							display: inline-block;
							vertical-align: middle;
							top: 53%;
    					left: 2%;
							transform: translateY(-50%);
							width: 100%;
							text-align: center;
							&-above {
								&-up, &-down {
									display:inline-block;
  								vertical-align:middle;
								}
								.digit {
									font-family: "PNExtraBold";
									font-size: 72px;
									color: $white;
									line-height: 0.9;
								}
								.percent {
									text-align:center;
								}
								.percent div:last-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 14px;
									color: $white;
									line-height: 1;
									text-transform: uppercase;
								}
								.percent div:first-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 36px;
									color: $white;
									line-height: 1;
									transform: translateY(-5px);
								}
							}
							&-below {
								text-align: center;
								font-family: "PNExtraBold";
								font-size: 48px;
								color: $white;
								line-height: 0.8;
								text-transform: uppercase;
							}
						}
					}
				}
				/* Избранное */
				&-fav {
					position: absolute;
					height: 50px;
					width: 50px;
					top: 5%;
					right: 3%;
					svg {
						height: 50px;
						width: auto;
						transition: all 0.3s ease-in-out;
						&:hover {
							transition: all 0.3s ease-in-out;
							cursor: url('../img/min/add.png'), auto;
							transform: scale(1.1)
						}
					}
				}
				/* Фоновая картинка */
				img {
					width: 100%;
    			height: 280px;
    			object-fit: cover;
    			object-position: 0% 0%;
					object-fit: cover;
					border-radius: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
				}
			}
			/* Нижняя часть карточки */
			&-below {
				padding: 25px;
				p {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.4;
					letter-spacing: 0;
				}
				.price-be {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.4;
				}
				.price-af {
					font-family: "PNBold";
					font-size: 24px;
					color: #222222;
					line-height: 1;
					svg {
						height: 17px;
						width: auto;
					}
					span.minimaze {
						font-size: 18px;
					}
					span.colorize {
						color: $green;
					}
				}
				.tm {
					font-family: "PNRegular";
				}
				&-right, &-left {
					display: inline-block;
				}
				&-left {
					float: left;
					width: 60%;
				}
				&-right {
					float: right;
					&-info {
						display: inline-block;
					}
				}
				.leftprs {
					margin-right: 15px;
				}
			}
		}
	}
	/* Баннер */
	&-bn1 {
		margin: 50px 0;
		height: 550px;
		position: relative;
		z-index: 105;
		background-image: url(../img/min/bg_bn1.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		h2 {
			color: #fff;
			margin-bottom: 15px;
		}
		&-bg {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 550px;
			padding: 0;
			background-color: rgba(20, 200, 163, .50);
		}
			&-lefts p {
				margin: 0;
				font-size: 96px;
				line-height: 113px;
				font-family: "PNExtraBold";
				color: $white;
			}
			&-lefts p:nth-child(2) {
				font-size: 72px;
				line-height: 84px;
				font-family: "PNBold";
			}
			&-lefts p:nth-child(3) {
				font-size: 64px;
				line-height: 75px;
				font-family: "PNSemiBold";
			}
		&-rights {
			color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 550px;
			padding: 0;
			& .tutti-hot-btn {
				text-align: left;
				&-a {
					width: 180px;	
				}
			}
		}
		.sale25 {
				color: $white;
				display: inline-block;
				margin-right: 40px;
				font-family: "PNExtrabold";
				font-size: 144px;
				line-height: 110px;
				text-transform: uppercase;
				&-25 {
					display: flex;
					padding-bottom: 10px;
				}
				&-pers {
					padding:  8px 0 0 5px;
					font-size: 65px;
					line-height: 55px;
					
					& div:last-child {
						padding-top: 18px;
						font-size: 24px;
						line-height: 20px;
					}
				}
				&-sale {
					font-size: 96px;
					line-height: 75px;
					padding-top: 20px;
				}
			}
		&-rights-text {
			font-size: 32px;
			line-height: 42px;
			& p {
				color: $white;
				font-size: 24px;
				margin-bottom: 30px;
				letter-spacing: 0.02em;
			}
		}
	}
	/* Туры */
	&-simple {
		/* Кнопка */
		&-btn {
			display: block;
			text-align: center;
			margin-top: 20px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 240px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: "PNBold";
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19E8BE;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
		/* Карточка тура */
		&-card {
			position: relative;
			width: 100%;
			height: 365px;
			background-color: $white;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
			border-radius: 10px;
			margin-bottom: 30px;
			transition: all .2s ease-in-out 0s;
			cursor: pointer;
			/* Поведение элементов при наведении */
			&:hover {
				transform: translateY(-.3em);
				box-shadow: 0 0.4em 2.4em 0 rgba(0,0,0,.2);
				transition: all .2s ease-in-out 0s;
				.tutti-hot-card-above-sale {
					will-change: transform;
					transition: all 0.3s ease-in-out;
					width: 300px;
					height: 300px;
					top: -25%;
    			left: -10%;
					.sale-text {
						will-change: transform;
						transition: all 0.3s ease-in-out;
					}
				}
			}
			/* Верхняя часть карточки */
			&-above {
				position: relative;
				height: 180px;
				overflow: hidden;
				border-radius: 10px;
				/* Шар со скидкой */
				&-sale {
					position: absolute;
    			background: linear-gradient(135deg, $green 18.32%, rgba(20, 200, 163, 0) 150%);
    			width: 220px;
    			height: 220px;
					border-radius: 100%;
					top: -15%;
					left: -5%;
					transition: all 0.3s ease-in-out;
					.sale-text {
						transition: all 0.3s ease-in-out;
						position: relative;
    				width: 100%;
						height: 100%;
						&-content {
							display:inline-block;
							vertical-align:middle;
							position: absolute;
							display: inline-block;
							vertical-align: middle;
							top: 53%;
    					left: 2%;
							transform: translateY(-50%);
							width: 100%;
							text-align: center;
							&-above {
								&-up, &-down {
									display:inline-block;
  								vertical-align:middle;
								}
								.digit {
									font-family: "PNExtraBold";
									font-size: 72px;
									color: $white;
									line-height: 0.9;
								}
								.percent {
									text-align:center;
								}
								.percent div:last-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 14px;
									color: $white;
									line-height: 1;
									text-transform: uppercase;
								}
								.percent div:first-child {
									text-align:center;
									font-family: "PNExtraBold";
									font-size: 36px;
									color: $white;
									line-height: 1;
									transform: translateY(-5px);
								}
							}
							&-below {
								text-align: center;
								font-family: "PNExtraBold";
								font-size: 48px;
								color: $white;
								line-height: 0.8;
								text-transform: uppercase;
							}
						}
					}
				}
				/* Избранное */
				&-fav {
					position: absolute;
					height: 50px;
					width: 50px;
					top: 5%;
					right: 3%;
					svg {
						height: 50px;
						width: auto;
						transition: all 0.3s ease-in-out;
						&:hover {
							transition: all 0.3s ease-in-out;
							cursor: url('../img/min/add.png'), auto;
							transform: scale(1.1)
						}
					}
				}
				/* Фоновая картинка */
				img {
					width: 100%;
    			height: 180px;
    			object-fit: cover;
    			object-position: 0% 0%;
					object-fit: cover;
					border-radius: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
				}
			}
			/* Нижняя часть карточки */
			&-below {
				padding: 25px;
				height: 180px;
				p {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1;
					letter-spacing: 0;
					margin-bottom: 20px;
				}
				.price-be {
					font-family: "PNRegular";
					font-size: 14px;
					color: #4c4c4c;
					line-height: 1.4;
				}
				.price-af {
					font-family: "PNBold";
					font-size: 24px;
					color: #222222;
					line-height: 1;
					svg {
						height: 17px;
						width: auto;
					}
					span.minimaze {
						font-size: 18px;
					}
					span.colorize {
						color: $green;
					}
				}
				.tm {
					font-family: "PNRegular";
				}
				&-right, &-left {
					display: inline-block;
				}
				&-left {
					width: auto;
				}
				&-right {
					&-info {
						display: inline-block;
					}
				}
				.leftprs {
					margin-right: 15px;
				}
			}
		}
	}
	/* Отзывы */
	&-testimonials {
		/* Карточка отзыва */
		&-card {
			min-height: 740px;
			border-radius: 10px;
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
			padding: 60px 150px;
			text-align: center;
			h6 {
				line-height: 1;
				color: #222222;
				font-family: "PNSemiBold";
				font-size: 24px;
				margin: 20px 0 10px;
			}
			span {
				line-height: 1;
				color: #4c4c4c;
				font-family: "PNRegular";
				font-size: 14px;
			}
			p {
				font-family: "PNLightItalic";
				line-height: 21px;
    		font-size: 16px;
    		letter-spacing: 0.02em;
				color: #4c4c4c;
				padding: 0 15px;
			}
			&-person {
				padding: 100px 0 30px;
				img {
					border-radius: 100%;
				}
			}
			&-review {
				padding-bottom: 30px;
				svg {
					margin-top: 5px;
				}
			}
		.carousel-indicators {
			bottom: auto;
			top: 36px;
			li {
				width: 20px;
				height: 20px;
				border: 2px solid #222222;
				border-radius: 50%;
				cursor: pointer;
				&:hover {
						border-color: $green;
						}
				&:nth-child(2) {
					margin: 0 20px;
				}
			}
			.active {
					background: $green;
					border-color: $green;
				}
		}
		}
	}
	/* Баннер */
	&-bn2 {
		margin: 145px 0;
		height: 460px;
		position: relative;
		z-index: 105;
		background-image: url(../img/min/bus.jpg);
		background-position: 100% 85%;
		background-size: cover;
		background-repeat: no-repeat;
		h2 {
			color: #fff;
    	margin: 0 0 15px 0;
		}
		&-bg {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: auto;
			transform: translateY(-50px);
			padding: 0;
			img {
				width: 550px;
    		height: 550px;
				border-radius: 100%;
				box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
			}
		}
			&-lefts p {
				margin: 0;
				font-size: 96px;
				line-height: 113px;
				font-family: "PNExtraBold";
				color: $white;
			}
			&-lefts p:nth-child(2) {
				font-size: 72px;
				line-height: 84px;
				font-family: "PNBold";
			}
			&-lefts p:nth-child(3) {
				font-size: 64px;
				line-height: 75px;
				font-family: "PNSemiBold";
			}
		&-lefts {
			padding-right: 200px;
		}
		&-rights {
			color: $white;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 460px;
			padding: 0;
			& .tutti-hot-btn {
				text-align: left;
				&-a {
					width: 180px;	
				}
			}
		}
		&-rights-text {
			font-size: 32px;
			line-height: 42px;
			padding-left: 200px;
			& p {
    		color: #fff;
    		font-size: 24px;
				margin-bottom: 30px;
				letter-spacing: 0.02em;
			}
		}
	}
	&-guide {
		.guidecar {
			margin-top: 116px;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
			border-radius: 10px;
			.carousel-indicators {
				margin: 0;
				bottom: auto;
				right: auto;
				top: -80px;
				li {
					width: 20px;
					height: 20px;
					border: 2px solid #222222;
					border-radius: 50%;
					cursor: pointer;
					&:hover {
						border-color: $green;
						}
					&:nth-child(2) {
						margin: 0 20px;
					}
				}
			.active {
				background: $green;
				border-color: $green;
			}
			}
		}
		/* Карточка отзыва */
		&-card {
			position: relative;
			width: 100%;
			height: 515px;
			background-color: $white;
			border-radius: 10px;
			
			/* Верхняя часть карточки */
			&-above {
				position: relative;
				height: 515px;
				width: 725px;
				overflow: hidden;
				border-radius: 10px;
				/* Фоновая картинка */
				img {
					width: 725px;
    			height: 515px;
    			object-fit: cover;
    			object-position: 0% 0%;
					object-fit: cover;
					border-radius: 10px;
					box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
				}
			}
			/* Нижняя часть карточки */
			&-below {
				padding: 40px 60px;
				height: 100%;
				width: 415px;
				h6 {
					font-family: "PNSemiBold";
					font-size: 14px;
					color: #D4D4D4;
					line-height: 1;
					margin-bottom: 25px;
				}
				h4 {
					font-family: "PNSemiBold";
					font-size: 24px;
					color: #222222;
					line-height: 1;
					margin-bottom: 15px;
				}
				p {
					font-family: "PNRegular";
					line-height: 21px;
    			font-size: 16px;
    			letter-spacing: 0.02em;
					color: #4c4c4c;
					margin-bottom: 20px;
					max-height: 252px;
					overflow: hidden;
				}
			}
			&-btn {
				display: block;
				text-align: left;
				margin-top: 30px;
				&-a {
					background-color: $green;
					border-radius: 10px;
					padding: 0 40px;
					width: 180px;
					display: inline-block;
					text-align: center;
					height: 60px;
					line-height: calc(4.2rem - .4rem);
				}
				a {
					font-family: "PNBold";
					font-size: 20px;
					color: $white;
					transition: all .2s ease-in-out 0s;
					&:hover {
						background-color: #19E8BE;
						transition: all .2s ease-in-out;
						box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
					}
				}
			}
		}
		&-btn {
			display: block;
			text-align: center;
			margin-top: 60px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 260px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: "PNBold";
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19E8BE;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
	}
	&-questions {
		/* Карточка отзыва */
		padding: 100px 0 100px;
		&-card {
			min-height: 780px;
			padding: 60px 100px;
			border-radius: 10px;
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
			.tittle-h2 {
				text-align: center;
				margin-bottom: 30px;
			}
			p {
				font-family: "PNSemiBold";
				font-size: 24px;
				margin-bottom: 60px;
				a {
					color: #14c8a3;
					text-decoration: underline !important;
					transition: all .2s ease-in-out;
					&:hover {
						color: #19E8BE;
						transition: all .2s ease-in-out;
					}
				}
			}
			.search {
				display: flex;
				align-items: center;
				width: 100%;
				height: 75px;
				border-radius: 5px;
				border: 1px solid #D4D4D4;
				margin-bottom: 10px;
				input, textarea {
					margin-left: 21px;
					width: 100%;
					height: 100%;
					outline: 0;
					font-size: 18px;
					border: none;
					color: #4c4c4c;
					background: 0 0;
				}
				textarea {
					padding-top: 18px;
					resize: none;
				}
				input[type="text"]::-webkit-input-placeholder { color:#D4D4D4; }
   			input[type="text"]:-ms-input-placeholder { color:#D4D4D4; }
				input[type="text"]::-ms-input-placeholder { color:#D4D4D4; }
				input[type="text"]::placeholder { color:#D4D4D4; }
				textarea[type="comment"]::-webkit-input-placeholder { color:#D4D4D4; }
   			textarea[type="comment"]:-ms-input-placeholder { color:#D4D4D4; }
				textarea[type="comment"]::-ms-input-placeholder { color:#D4D4D4; }
				textarea[type="comment"]::placeholder { color:#D4D4D4; }
			}
			.msg {
				height: 180px;
			}
		}
		&-btn {
			display: block;
			text-align: right;
			margin-top: 20px;
			&-a {
				background-color: $green;
				border-radius: 10px;
				padding: 0 40px;
				width: 240px;
				display: inline-block;
				text-align: center;
				height: 60px;
				line-height: calc(4.2rem - .4rem);
			}
			a {
				font-family: "PNBold";
				font-size: 20px;
				color: $white;
				transition: all .2s ease-in-out 0s;
				&:hover {
					background-color: #19E8BE;
					transition: all .2s ease-in-out;
					box-shadow: 0px 0px 10px 0px rgba(25, 232, 190, 0.75);
				}
			}
		}
	}
}
footer {
	min-height: 980px;
	background-image: url(../img/min/footer.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	a {
		transition: all .2s ease-in-out;
		color: #fff;
	}
	a:hover {
		transition: all .2s ease-in-out;
		color: #19E8BE;
	}
	h4 {
		font-family: "PNSemiBold";
		font-size: 28px;
		color: #fff;
		line-height: 1;
		margin-bottom: 30px;
	}
	p, li a {
		font-family: "PNRegular";
		font-size: 16px;
		color: #fff;
		line-height: 1.4;
	}
	p {
		margin-bottom: 0;
	}
	.tutti-footer {
		&-ct, &-ph, &-em {
			display: flex;
    	flex-direction: row;
    	justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 20px;
			p {
				margin-left: 10px;
			}
		}
		&-ct {
			p:first-child {
				margin-left: 0;
			}
		}
		.frline {
			padding-top: 150px;
		}
		.secline {
			padding-top: 40px;
		}
		.thrcline {
			padding: 100px 0 50px 0;
			a {
				margin-right: 15px;
			}
			a:last-child {
				margin-right: 0;
			}
		}
		&-mn {
			ul {
				list-style: none;
				padding: 0;
				li {
					line-height: 1;
					margin-bottom: 10px;
				}
			}
		}
		&-tr, &-faq {
			.wrap ul {
				list-style-position: inside;
				list-style-type: decimal;
				list-style: none;
				column-count: 2;
				height: 180px;
				padding: 0;
			}
			li {
				line-height: 1;
				margin-bottom: 10px;
			}
		}
		&-tr {
			.wrap ul {
				height: 180px;
			}
		}
		&-faq {
			.wrap ul {
				height: 130px;
			}
		}
		&-mailing {
			margin-bottom: 20px;
			p {
				width: 85%;
			}
		}
		&-send {
			.search {
				display: flex;
		    align-items: center;
				width: 380px;
				height: 60px;
		    border-radius: 5px;
		    background: rgba(255, 255, 255, 0.8);
		    input {
		    	margin-left: 21px;
			    width: 20em;
			    height: 100%;
			    outline: 0;
			    font-size: 18px;
			    border: none;
			    color: #4C4C4C;
			    background: none;
				}
				a {
					font-family: "PNSemiBold";
					font-size: 20px;
					color: #fff;
				}
				&-button {
					background: #ffcd00;
					border-radius: 5px;
					padding: 0 40px;
					display: inline-block;
					text-align: center;
					height: 60px;
					line-height: calc(4.2rem - .4rem);
					cursor: pointer;
					transition: all .2s ease-in-out;
					&:hover {
						background: #FFD731;
						color: #fff;
						transition: all .2s ease-in-out;
						box-shadow: 0 0 10px 0 rgba(255,215,49,.75)
					}
				}
			}
		}
	}
	.fifline {
		height: 100px;
		a {
			transition: all .2s ease-in-out;
			color: #14C8A3;
			font-family: "PNBold"
		}
		a:hover {
			transition: all .2s ease-in-out;
			color: #19E8BE;
		}
	}
	.tutti-footer-socials {
		float: right;
		height: 20px;
		a {
			margin-right: 20px;
			&:last-child {
				margin-right: 0;
			}
			svg {
				height: 20px;
				width: auto;
			}
		}
	}
	.footer-line {
		width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
	}
}

@import "media";